
/*Caja contenedora de toda la vista AdministrarUsuarios*/
#fondo-AdministrarUsuarios{
    height: 92vh;

}

/*Propiedades caja contenedora de cabecera AdministrarUsuarioss y Boton*/
#cabeceraAdministrarUsuarios-AdministrarUsuarios{
    height: 3rem;
    background-color: #eff2f5;
    box-shadow: 5px 3px 15px #000;/*box-shadow: x y difuminación color*/
    overflow: auto;

}

/*Caja contenedora de la palabra Administrar Usuarios*/
#cabeceraAdministrarUsuarios-AdministrarUsuarios #cajaNombreOpcion-AdministrarUsuarios{
    display: inline-table;
    width: fit-content;
    
}

/*Palabra Administrar Usuarios*/
#cabeceraAdministrarUsuarios-AdministrarUsuarios #cajaNombreOpcion-AdministrarUsuarios label{
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 130%;
    padding: 5px 0px 0px 10px;

}

/*Propiedades caja contenedora de AdministrarUsuarioss*/
#cajaLabelAdministrarUsuarioss-AdministrarUsuarios{
    display: inline-table;
    width: 40%;
    float: left;
    
}

/*Propiedades del Label AdministrarUsuarioss*/
#cajaLabelAdministrarUsuarioss-AdministrarUsuarios label{
    margin-left: 2%;
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 23px;
    font-weight: 700;
}

/*Propiedades de la caja botón agregar usuario*/
#cabeceraAdministrarUsuarios-AdministrarUsuarios #cajaAgregarAdministrarUsuarios-AdministrarUsuarios{
    width: fit-content;
    float: right;
    margin: 5px 5px 0px 0px;
    
}

/*Propiedades del label ¿Desea agregar un usuario?*/
#cajaAgregarAdministrarUsuarios-AdministrarUsuarios #labelAgregarAdministrarUsuarios-AdministrarUsuarios{
    font-size: 16px;
    font-style: italic;
    margin-right: 10px;

}

/*Propiedades del botón Agregar AdministrarUsuarios*/
#cajaAgregarAdministrarUsuarios-AdministrarUsuarios #agregarAdministrarUsuarios-AdministrarUsuarios{
    background-color: #eff2f5;
    padding-top: 2px;
    color: #000;
    border-color: #000;
    
}

/*Propiedad hover del botón Agregar AdministrarUsuarios*/
#cajaAgregarAdministrarUsuarios-AdministrarUsuarios #agregarAdministrarUsuarios-AdministrarUsuarios:hover{
    background-color: #E4AC34;
    border-color: #E4AC34;
    color: white;
    
}

/*Propiedad focus del botón Agregar AdministrarUsuarios*/
#cajaAgregarAdministrarUsuarios-AdministrarUsuarios #agregarAdministrarUsuarios-AdministrarUsuarios:focus{
    box-shadow: none;
    
}

/*Propiedades del icono mas al lado del botón Agregar AdministrarUsuarios*/
#cajaAgregarAdministrarUsuarios-AdministrarUsuarios #agregarAdministrarUsuarios-AdministrarUsuarios i{
    margin-right: 10px;

}

/*Propiedades de la caja contenedora de la tabla*/
form #cajaTabla-AdministrarUsuarios{
    width: 50%;
    height: 20rem !important;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    box-shadow: 5px 10px 15px #000;

}

/*Propiedades de toda la tabla en general*/
#tabla-AdministrarUsuarios{
    font-family: 'Noto Sans Display', sans-serif;
    background-color: #eff2f5;
    
}

/*Propiedades de la cabecera que contiene los mensajes para el usuario y el botón recargar*/
#cajaCabecera-AdministrarUsuarios{
    overflow: auto;

}

/*Propiedades caja del mensaje respuesta*/
#cajaCabecera-AdministrarUsuarios #cajaMensajeRespuesta-AdministrarUsuario{
    float: left;
    width: 80%;
    height: 3rem;

}

/*Propiedades del mensaje respuesta*/
#cajaMensajeRespuesta-AdministrarUsuario #mensajeRespuesta-AdministrarUsuario{
    margin-top: 10px;
    margin-left: 10px;
    font-style: italic;

}

/*Propiedades caja del boton recargar*/
#cajaCabecera-AdministrarUsuarios #cajaBotonRecargar-AdministrarUsuario{
    float: right;
    width: 20%;
    height: 3rem;
    text-align: right;
    
}

/*Propiedades del botón recargar en la tabla*/
#cajaBotonRecargar-AdministrarUsuario #botonRecargar-AdministrarUsuario{
    margin-top: 5px;
    background-color: #eff2f5;
    color: #000;
    border-color: #000;
    margin-right: 10px;

}

/*Propiedad hover del botón recargar en la tabla*/
#cajaBotonRecargar-AdministrarUsuario #botonRecargar-AdministrarUsuario:hover{
    background-color: #E4AC34;
    border-color: #E4AC34;
    color: white;
    
}

/*Propiedad focus del botón recargar en la tabla*/
#cajaBotonRecargar-AdministrarUsuario #botonRecargar-AdministrarUsuario:focus{
    box-shadow: none;
    
}

/*Propiedades de la columna ID en la cabecera*/
#cedulaTablaCabecera-AdministrarUsuarios{
    text-align: center;
    width: 10%;

}

/*Propiedades de la columna nombreUsuario en la cabecera*/
#nombreUsuarioTablaCabecera-AdministrarUsuarios{
    width: 30%;
    text-align: center;

}

/*Propiedades de la columna Correo en la cabecera*/
#correoTablaCabecera-AdministrarUsuarios{
    width: 0%;
    text-align: center;
    
}

/*Propiedades de la columna Correo en la cabecera*/
#rolTablaCabecera-AdministrarUsuarios{
    width: 18%;
    text-align: center;
    
}

/*Propiedades de la columna Modificar/Eliminar en la cabecera*/
#modificarEliminarTablaCabecera-AdministrarUsuarios{
    width: 0%;
    text-align: center;

}

/*Propiedades de la fila Cedula*/
#cedulaTablaFila-AdministrarUsuarios{
    text-align: center;
    font-weight: lighter;

}

/*Propiedades de la fila nombreUsuario*/
#nombreUsuarioTablaFila-AdministrarUsuarios{
    text-align: center;

}

/*Propiedades de la fila Correo*/
#correoTablaFila-AdministrarUsuarios{
    text-align: justify;

}

/*Propiedades de la fila Correo*/
#rolTablaFila-AdministrarUsuarios{
    text-align: center;

}

/*Propiedades de la fila Modificar/Eliminar*/
#modificarEliminarTablaFila-AdministrarUsuarios{
    text-align: center;

}

/*Propiedades de los botones de modificar y eliminar*/
#modificarEliminarTablaFila-AdministrarUsuarios button{
    margin-top: 5%;
    border-radius: 0px;
    background: transparent;
    color: #000;
    border-color: transparent;
    font-family: 'Noto Sans Display', sans-serif;
    box-shadow: none; /*Quita la sombra verde alrededor del botón*/

}

/*Propiedades de los iconos en los botones modificar y eliminar*/
#modificarEliminarTablaFila-AdministrarUsuarios i{
    font-size: 23px;
    
}

/*Propiedad del icono modificar en el botón modificar*/
#botonModificar-AdministrarUsuarios #iconoModificar-AdministrarUsuarios{
    color: rgb(83, 83, 83);

}

/*Propiedad del icono eliminar en el botón eliminar*/
#botonEliminar-AdministrarUsuarios #iconoEliminar-AdministrarUsuarios{
    color: rgb(192, 3, 3);

}


/*Propiedades de los labels del modal Eliminar usuario. Advertencia y ¿Realmente quiere eliminar este usuario?.*/
#modalEliminar-AdministrarUsuarios #modalLabelEliminar-AdministrarUsuarios label,
#modalEliminar-AdministrarUsuarios .modal-body label
{
    font-family: 'Noto Sans Display', sans-serif;

}

/*Propiedades del icono advertencia en el modal de Eliminar usuario*/
#modalEliminar-AdministrarUsuarios #modalLabelEliminar-AdministrarUsuarios i{
    margin-right: 10px;

}

/*Propiedades del label Los cambios no se podrán revertir en modal Eliminar usuario.*/
#modalEliminar-AdministrarUsuarios .modal-body #labelRevertirCambios-AdministrarUsuarios{
    font-style: italic;

}

/*Propiedades del boton Cancelar en modal Eliminar usuario y en el modal Modificar usuario*/
#modalEliminar-AdministrarUsuarios .modal-footer #botonModalCancelar-AdministrarUsuarios, #modalModificar-AdministrarUsuarios .modal-footer #botonModalCancelar-AdministrarUsuarios{
    font-family: 'Noto Sans Display', sans-serif;
    background-color: transparent;
    border-color: #535353;
    color: #000;

}

/*Propiedad hover del boton Cancelar en modal Eliminar usuario y en el modal Modificar usuario*/
#modalEliminar-AdministrarUsuarios .modal-footer #botonModalCancelar-AdministrarUsuarios:hover, #modalModificar-AdministrarUsuarios .modal-footer #botonModalCancelar-AdministrarUsuarios:hover{
    background-color: #535353;
    color: white;

}

/*Propiedad focus del boton Cancelar en modal Eliminar usuario y en el modal Modificar usuario*/
#modalEliminar-AdministrarUsuarios .modal-footer #botonModalCancelar-AdministrarUsuarios:focus, #modalModificar-AdministrarUsuarios .modal-footer #botonModalCancelar-AdministrarUsuarios:focus{
    box-shadow: none;

}

/*Propiedades del boton Eliminar en modal Eliminar usuario*/
#modalEliminar-AdministrarUsuarios .modal-footer #botonModalEliminar-AdministrarUsuarios{
    font-family: 'Noto Sans Display', sans-serif;
    background-color: transparent;
    border-color: #c00303;
    color: #000;

}

/*Propiedad hover del boton Eliminar en modal Eliminar usuario*/
#modalEliminar-AdministrarUsuarios .modal-footer #botonModalEliminar-AdministrarUsuarios:hover{
    background-color: #c00303;
    color: white;

}

/*Propiedad focus del boton Eliminar en modal Eliminar usuario*/
#modalEliminar-AdministrarUsuarios .modal-footer #botonModalEliminar-AdministrarUsuarios:focus{
    box-shadow: none;

}

/*Propiedades del botón de la X para cerrar el modal Eliminar usuario*/
.modal-header .btn-close:focus{
    box-shadow: none;

}

/*Propiedades del icono modificar en el modal de Modificar usuario*/
#modalModificar-AdministrarUsuarios #modalLabelModificar-AdministrarUsuarios i{
    margin-right: 10px;

}

/*Propiedades de los label AdministrarUsuarios y Correo en el modal de Modificar usuario*/
#modalModificar-AdministrarUsuarios .modal-body label{
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 10px;

}

/*Propiedades del textarea Correo en el modal de Modificar usuario*/
#modalModificar-AdministrarUsuarios .modal-body textarea{
    resize: none;
    height: 10rem;

}

/*Propiedades focus del input AdministrarUsuarios y el textarea Correo en el modal de Modificar usuario*/
#modalModificar-AdministrarUsuarios .modal-body input:focus, #modalModificar-AdministrarUsuarios .modal-body textarea:focus{
    box-shadow: none;
    border-color: #ced4da;

}

/*Propiedades de los placeholder del input AdministrarUsuarios y el textarea Correo en el modal de Modificar usuario*/
#modalModificar-AdministrarUsuarios .modal-body input::placeholder, #modalModificar-AdministrarUsuarios .modal-body textarea::placeholder{
    font-style: italic;

}

/*Propiedades del botón modificar en el modal Modificar usuario*/
#modalModificar-AdministrarUsuarios .modal-footer #botonModalModificar-AdministrarUsuarios{
    background-color: transparent;
    border-color: #ffc107;
    color: #000;
}

/*Propiedad hover del botón modificar en el modal Modificar usuario*/
#modalModificar-AdministrarUsuarios .modal-footer #botonModalModificar-AdministrarUsuarios:hover{
    background-color: #ffc107;
    color: white;
}

/*Propiedad focus del botón modificar en el modal Modificar usuario*/
#modalModificar-AdministrarUsuarios .modal-footer #botonModalModificar-AdministrarUsuarios:focus{
    box-shadow: none;
}

/*Propiedades de los p Administrador y Usuario*/
#pAdministrador-AdministrarUsuarios, #pUsuario-AdministrarUsuarios{
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 18px;
}

/*Propiedad de los radio buttons*/
.modal-body #cajaRadioButtons-AgregarCuenta{
    text-align: left;
}

/*Propiedad focus sobre los radio buttons*/
.modal-body .form-check #radioButtonAdministrador-AdministrarUsuarios:focus{
    background-color: #ffc107;
    border-color: #ffc107;
    box-shadow: none;
}

/*Propiedad checked sobre los radio buttton*/
.modal-body .form-check #radioButtonAdministrador-AdministrarUsuarios:checked{
    background-color: #ffc107;
    border-color: #ffc107;
}

/*Propiedades del icono al lado de los input en los modales*/
#modalModificar-AdministrarUsuarios #btnGroupAddon{
    background-color: #ffc107;
    color: white;
}

