/*Color de fondo para vista agregar pregunta*/
#fondo-AgregarPregunta{
    height: fit-content;
    width: 100%;
    border: 0.01px solid #212844;
    background-color: #212844;
}

/*Caja contenedora de agregar pregunta*/
#caja-AgregarPregunta{
    border: 1px solid #000;
    max-width: 500px;
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    height: fit-content;
    padding: 2rem;
    border-radius: 7px;
    background-color: #eff2f5;
    box-shadow: 5px 10px 15px #000;
    
}

/*Caja de la imagen del logo*/
#cajaLogo-AgregarPregunta{
    text-align: center;

}

/*Imagen logo*/
#logo-AgregarPregunta{
    height: 4rem;
    margin: 2rem 0 2rem 0;
}

/*Caja texto Nuevo pregunta*/
#caja-AgregarPregunta #cajaNuevaPregunta-AgregarPregunta{
    margin-top: 10px;
    text-align: center;
}

/*Texto informativo para el pregunta en caso de error*/
#caja-AgregarPregunta h5{
    font-family: 'Noto Sans Display', sans-serif;
    font-style: italic;
    margin-left: 14px;
}


/*Label Nuevo registro*/
#cajaNuevaPregunta-AgregarPregunta #labelNuevoPregunta-AgregarPregunta{
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 25px;
    font-weight: 700;

}

/*Linea debajo del logo*/
#linea-AgregarPregunta{
    color: #000;
}

/*Caja contenedora del formulario*/
#formulario-AgregarPregunta{
    padding: 1rem;
}

/*Todos los label del formulario*/
#formulario-AgregarPregunta label{
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 20px;
}

/*Propiedades de los iconos al lado de los input*/
#formulario-AgregarPregunta .input-group #btnGroupAddon{
    width: 42px;
    background-color: #ffc107;
    margin-top: 10px;
    
}

/*Propiedades del textarea seleccione los sintomas*/
#formulario-AgregarPregunta .input-group textarea{
    margin-top: 10px;
    resize: none;
    height: 7rem;
}

/*Propiedad focus del textarea seleccione los sintomas*/
#formulario-AgregarPregunta .input-group textarea:focus{
    box-shadow: none;
    border-color: #ced4da;
}

/*Propiedad focus del textarea seleccione los sintomas*/
#formulario-AgregarPregunta .input-group textarea::placeholder{
    font-style: italic;
}

/*Propiedades de los inputs*/
#formulario-AgregarPregunta .input-group input{
    margin-top: 10px;
    
}

/*Propiedad placeholder de los inputs*/
#formulario-AgregarPregunta .input-group input::placeholder{
    font-style: italic;

}

/*Propiedad focus de los inputs*/
#formulario-AgregarPregunta .input-group input:focus{
    box-shadow: none;
    border-color: #ced4da;
}

/*Propiedades de la caja contenedora de la tabla en agregar pregunta*/
#cajaTabla-AgregarPreguntas {
    border: 1px solid #ced4da;
    overflow-x: hidden;
    overflow-y: auto;
    height: 15rem;
}

/*Propiedades de la caja del boton recargar tabla en agregar pregunta*/
#cajaBotonRecargar-AgregarPreguntas{
    text-align: right;
}

/*Propiedades del botón recargar en la tabla modificar*/
#cajaBotonRecargar-AgregarPreguntas #botonRecargar-AgregarPreguntas {
    margin-top: 5px;
    background-color: #eff2f5;
    color: #000;
    border-color: #000;
    margin-right: 10px;
}

/*Propiedad hover del botón recargar en la tabla modificar*/
#cajaBotonRecargar-AgregarPreguntas #botonRecargar-AgregarPreguntas:hover {
    background-color: #E4AC34;
    border-color: #E4AC34;
    color: white;

}

/*Propiedad focus del botón recargar en la tabla modificar*/
#cajaBotonRecargar-AgregarPreguntas #botonRecargar-AgregarPreguntas:focus {
    box-shadow: none;

}

/*Propiedades de ancho de la columna sintomas en modificar pregunta*/
#sintomaTablaCabecera-AgregarPreguntas{
    width: 80%;
}

/*Propiedades de ancho de la columna elegir en modificar pregunta*/
#seleccionTablaCabecera-AgregarPreguntas{
    width: 20%;
}

/*Propiedades de las cabeceras de la tabla agregar pregunta*/
#tablaSintomas-AgregarPreguntas th{
    text-align: center;
    font-weight: 600;
}

/*Propiedades de la columna que contiene los checkbox en tabla modificar*/
#tablaSintomas-AgregarPreguntas #columnaCheckbox-AgregarPreguntas {
    text-align: center;
    
}

/*Propiedad del checkbox en tabla modificar*/
#tablaSintomas-AgregarPreguntas td #checkbox-AgregarPreguntas {
    margin-bottom: 30%;
}

/*Propiedad checked de la columna que contiene los checkbox en tabla modificar*/
#tablaSintomas-AgregarPreguntas td #checkbox-AgregarPreguntas:checked {
    background-color: #ffc107;
    border-color: #ffc107;
    box-shadow: none;
}

/*Propiedad focus de la columna que contiene los checkbox en tabla modificar*/
#tablaSintomas-AgregarPreguntas td #checkbox-AgregarPreguntas:focus {
    box-shadow: none;
}

/*Caja botones enviar y Regresar*/
#formulario-AgregarPregunta #cajaBotones-AgregarPregunta{
    margin-top: 30px;
}

/*Caja contenedora del botón Enviar*/
#formulario-AgregarPregunta #cajaEnviar-AgregarPregunta{
    text-align: center;
    
}

/*Caja contenedora del botón Regresar*/
#formulario-AgregarPregunta #cajaRegresar-AgregarPregunta{
    float: left;
    width: 49%;
    text-align: center;

}

/*Propiedades de los botones Enviar y Regresar*/
#cajaEnviar-AgregarPregunta #botonEnviar-AgregarPregunta, #cajaRegresar-AgregarPregunta #botonRegresar-AgregarPregunta{
    background: transparent;
    color: #000;
    font-family: 'Noto Sans Display', sans-serif;
    width: 6rem;
    box-shadow: none; /*Quita la sombra verde alrededor del botón*/
}

/*Propiedad del boton Enviar*/
#cajaEnviar-AgregarPregunta #botonEnviar-AgregarPregunta{
    border-color: #ffc107;
}

/*Propiedad del boton Regresar*/
#cajaRegresar-AgregarPregunta #botonRegresar-AgregarPregunta{
    border-color: #535353;
    
}

/*Propiedad hover sobre boton Enviar*/
#cajaEnviar-AgregarPregunta #botonEnviar-AgregarPregunta:hover{
    border-color: #ffc107 ;
    background-color: #ffc107 ;
    color: white;
    
}

/*Propiedad hover sobre boton Regresar*/
#cajaRegresar-AgregarPregunta #botonRegresar-AgregarPregunta:hover{
    background-color: #535353;
    border-color: #535353;
    color: white;
}

