
/*Caja contenedora de toda la vista Buscar*/
#fondo-Buscar{
    /*border: 4px solid blue;*/
    height: 92vh;
    /*overflow-y: scroll;*/
}

/*Propiedades caja contenedora de cabecera Buscar y Boton*/
#cabeceraBuscarBoton-Buscar{

    /*border: 5px solid aqua;*/
    /*margin-top: 2px;*/
    height: 3rem;
    padding: 4px;
    background-color: #eff2f5;
    box-shadow: 5px 3px 15px #000;/*#666*/ /*box-shadow: x y difuminación color*/
}

/*Propiedades caja contenedora de Buscar*/
#cajaLabelTerminos-Buscar{
    /*border: 2px solid salmon;*/
    /*margin-top: 15px;*/
    /*margin-top: 0px;*/
    width: 40%;
    float: left;
    
}

/*Propiedades del Label Terminos*/
#cajaLabelBuscar-Buscar label{
    margin-left: 1%;
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 23px;
    font-weight: 700;
}

/*Propiedades de la caja contenedora de la tabla*/
#cajaTabla-Buscar{
    /*border: 2px solid burlywood;*/
    height: 80%;
    width: 50%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: scroll;
    overflow-y: scroll;
    box-shadow: 5px 10px 15px #000;/*#666*/ /*box-shadow: x y difuminación color*/
}

/*Propiedades de toda la tabla en general*/
#tabla-Buscar{
    
    font-family: 'Noto Sans Display', sans-serif;
    background-color: #eff2f5;
    
}

/*Propiedades de la columna ID en la cabecera*/
#idTablaCabecera-Buscar{
    /*background-color: red;*/
    width: 20%;
    text-align: center;
}

/*Propiedades de la columna Palabra en la cabecera*/
#palabraTablaCabecera-Buscar{
    /*background-color: aqua;*/
    width: 30%;
    text-align: center;
}

/*Propiedades de la columna Descripción en la cabecera*/
#descripcionTablaCabecera-Buscar{
    /*background-color: pink;*/
    width: 50%;
    text-align: center;
    
}

/*Propiedades de la columna Modificar/Eliminar en la cabecera*/
#modificarEliminarTablaCabecera-Buscar{
    text-align: center;
}

/*Propiedades de la fila ID*/
#idTablaFila-Buscar{
    text-align: center;
}

/*Propiedades de la fila Palabra*/
#palabraTablaFila-Buscar{
    text-align: center;
}

/*Propiedades de la fila Descripción*/
#descripcionTablaFila-Buscar{

    text-align: justify;
}

/*Propiedades de la fila Modificar/Eliminar*/
#modificarEliminarTablaFila-Buscar{
    text-align: center;
}

/*Propiedad hover sobre las filas de la tabla
#tabla-Buscar tbody tr:hover{
    background-color: #138a70;
}*/

/*Propiedades de los botones de modificar y eliminar*/
#modificarEliminarTablaFila-Buscar button{
    margin-top: 8%;
    border-radius: 0px;
    background: transparent;
    color: #000;
    /*border-color: rgba(62, 138, 62, 0.589);*/
    /*border-color: #ffc107;*/
    border-color: transparent;
    font-family: 'Noto Sans Display', sans-serif;
    /*width: 6rem;*/
    box-shadow: none; /*Quita la sombra verde alrededor del botón*/
}

/*Propiedad hover sobre los botones modificar y eliminar
#modificarEliminarTablaFila-Buscar button:hover{
    /*border-color: #ffc107;
    border-color: transparent;
    /*background-color: #ffc107;
    background-color: transparent;
    /*color: white;
}*/

/*Propiedades de los iconos en los botones modificar y eliminar*/
#modificarEliminarTablaFila-Buscar i{
    font-size: 23px;
    
}

/*Propiedad del icono modificar en el botón modificar*/
#botonModificar-Buscar #iconoModificar-Buscar{
    color: rgb(83, 83, 83);
}

/*Propiedad del icono eliminar en el botón eliminar*/
#botonEliminar-Buscar #iconoEliminar-Buscar{
    color: rgb(192, 3, 3);
}


/*Propiedades de los labels del modal Eliminar termino. Advertencia y ¿Realmente quiere eliminar este termino?.*/
#modalEliminar-Buscar #modalLabelEliminar-Buscar label,
#modalEliminar-Buscar .modal-body label
{

    font-family: 'Noto Sans Display', sans-serif;
}

/*Propiedades del icono advertencia en el modal de Eliminar termino*/
#modalEliminar-Buscar #modalLabelEliminar-Buscar i{
    margin-right: 10px;
}

/*Propiedades del label Los cambios no se podrán revertir en modal Eliminar termino.*/
#modalEliminar-Buscar .modal-body #labelRevertirCambios-Buscar{
    font-style: italic;
}

/*Propiedades del boton Cancelar en modal Eliminar termino y en el modal Modificar termino*/
#modalEliminar-Buscar .modal-footer #botonModalCancelar-Buscar, #modalModificar-Buscar .modal-footer #botonModalCancelar-Buscar{
    font-family: 'Noto Sans Display', sans-serif;
    background-color: transparent;
    border-color: #535353;
    color: #000;
}

/*Propiedad hover del boton Cancelar en modal Eliminar termino y en el modal Modificar termino*/
#modalEliminar-Buscar .modal-footer #botonModalCancelar-Buscar:hover, #modalModificar-Buscar .modal-footer #botonModalCancelar-Buscar:hover{
    
    background-color: #535353;
    color: white;
}

/*Propiedad focus del boton Cancelar en modal Eliminar termino y en el modal Modificar termino*/
#modalEliminar-Buscar .modal-footer #botonModalCancelar-Buscar:focus, #modalModificar-Buscar .modal-footer #botonModalCancelar-Buscar:focus{
    box-shadow: none;
}

/*Propiedades del boton Eliminar en modal Eliminar termino*/
#modalEliminar-Buscar .modal-footer #botonModalEliminar-Buscar{
    font-family: 'Noto Sans Display', sans-serif;
    background-color: transparent;
    border-color: #c00303;
    color: #000;
}

/*Propiedad hover del boton Eliminar en modal Eliminar termino*/
#modalEliminar-Buscar .modal-footer #botonModalEliminar-Buscar:hover{
    
    background-color: #c00303;
    color: white;
}

/*Propiedad focus del boton Eliminar en modal Eliminar termino*/
#modalEliminar-Buscar .modal-footer #botonModalEliminar-Buscar:focus{
    box-shadow: none;
}

/*Propiedades del botón de la X para cerrar el modal Eliminar termino*/
.modal-header .btn-close:focus{
    
    box-shadow: none;
}

/*Propiedades del icono modificar en el modal de Modificar termino*/
#modalModificar-Buscar #modalLabelModificar-Buscar i{
    margin-right: 10px;
}

/*Propiedades de los label Termino y Descripción en el modal de Modificar termino*/
#modalModificar-Buscar .modal-body label{
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 10px;
}

/*Propiedades del textarea Descripción en el modal de Modificar termino*/
#modalModificar-Buscar .modal-body textarea{
    resize: none;
    height: 10rem;
}

/*Propiedades focus del input Termino y el textarea Descripción en el modal de Modificar termino*/
#modalModificar-Buscar .modal-body input:focus, #modalModificar-Buscar .modal-body textarea:focus{
    box-shadow: none;
    border-color: #ced4da;
}

/*Propiedades de los placeholder del input Termino y el textarea Descripción en el modal de Modificar termino*/
#modalModificar-Buscar .modal-body input::placeholder, #modalModificar-Buscar .modal-body textarea::placeholder{
    font-style: italic;
}

/*Propiedades del botón modificar en el modal Modificar termino*/
#modalModificar-Buscar .modal-footer #botonModalModificar-Buscar{
    background-color: transparent;
    border-color: #ffc107;
    color: #000;
}

/*Propiedad hover del botón modificar en el modal Modificar termino*/
#modalModificar-Buscar .modal-footer #botonModalModificar-Buscar:hover{
    background-color: #ffc107;
    color: white;
}

/*Propiedad focus del botón modificar en el modal Modificar termino*/
#modalModificar-Buscar .modal-footer #botonModalModificar-Buscar:focus{
    box-shadow: none;
}

/*Propiedades del icono al lado de los input en el modal*/
#modalModificar-Buscar #btnGroupAddon{
    background-color: #ffc107;/*E4AC34*/
    color: white;
}
