#fondo-Diagnosticar {
    height: 92vh;
    margin-left: 7%;

}

/*Propiedades caja contenedora de cabecera Diagnosticar*/
#cabeceraDiagnosticar-Diagnosticar {
    height: 3rem;
    padding: 4px;
    background-color: #eff2f5;
    box-shadow: 5px 3px 15px #000;
    /*box-shadow: x y difuminación color*/

}

/*Propiedades del label Diagnosticar en la cabecera*/
#cajaLabelDiagnosticar-Diagnosticar label {
    padding: 5px 0px 0px 10px;
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 130%;

}

/*Propiedades de la caja principal de diagnostico*/
#cajaDiagnostico-Diagnosticar {
    margin-top: 50px;
    height: 20rem !important;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: #eff2f5;
    box-shadow: 5px 10px 15px #000;
    padding: 1rem;
    overflow-y: auto;

}

/*Propiedades de la caja contenedora del label Sintoma*/
#cajaDiagnostico-Diagnosticar #cajalabelSintoma-Diagnosticar {
    text-align: center;

}

/*Propiedades del label Sintoma en la caja principal*/
#cajaDiagnostico-Diagnosticar #cajalabelSintoma-Diagnosticar label {
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 23px;
    font-weight: 700;

}

/*Propiedades de la caja contenedora del sintoma en la caja principal*/
#cajaDiagnostico-Diagnosticar #cajaRegla-Diagnosticar {
    text-align: center;
    padding: 1.5rem;

}

/*Propiedades del label del sintoma*/
#cajaDiagnostico-Diagnosticar #cajaRegla-Diagnosticar label {
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 18px;

}

/*Propiedades de la caja contenedora de la pregunta si desea guardar diagnóstico*/
#cajaDiagnostico-Diagnosticar #cajaMensajeGuardar-Diagnosticar {
    text-align: center;

}

/*Propiedades del label de la pregunta si desea guardar diagnóstico*/
#cajaDiagnostico-Diagnosticar #cajaMensajeGuardar-Diagnosticar label {
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 18px;
    font-style: italic;

}

/*Propiedades de la caja contenedora de los botones Positivo y Negativo*/
#cajaBotones-Diagnosticar {
    margin-top: 3%;

}

/*Propiedades de la caja contenedora del botónNegativo*/
#cajaBotones-Diagnosticar #botonIniciar-Diagnosticar {
    width: 100%;
    text-align: center;

}

/*Propiedades de la caja contenedora del botónNegativo*/
#cajaBotones-Diagnosticar #botonNegativo-Diagnosticar {
    float: left;
    width: 44%;
    text-align: right;

}

/*Propiedades de la caja contenedora del botónPositivo*/
#cajaBotones-Diagnosticar #botonPositivo-Diagnosticar {
    display: inline-flex;
    width: 45%;
    margin-left: 11%;

}

/*Propiedades de la caja contenedora del botón reiniciar*/
#cajaBotones-Diagnosticar #botonReiniciar-Diagnosticar {
    float: left;
    width: 44%;
    text-align: right;

}

/*Propiedades de la caja contenedora del botón guardar*/
#cajaBotones-Diagnosticar #botonGuardar-Diagnosticar {
    display: inline-flex;
    width: 45%;
    margin-left: 11%;

}

/*Propiedades de todos los botones*/
#cajaBotones-Diagnosticar button {
    background: transparent;
    width: 5rem;
    box-shadow: none;

}

/*Propiedades del botón iniciar diagnóstico*/
#cajaBotones-Diagnosticar #botonIniciar-Diagnosticar button {
    color: #64af54;
    border-color: #64af54;

}

/*Propiedad hover del botón iniciar diagnóstico*/
#cajaBotones-Diagnosticar #botonIniciar-Diagnosticar button:hover {
    color: white;
    background-color: #64af54;

}

/*Propiedades del botón Negativo*/
#cajaBotones-Diagnosticar #botonNegativo-Diagnosticar button {
    color: #c00303;
    border-color: #c00303;

}

/*Propiedad hover del botón Negativo*/
#cajaBotones-Diagnosticar #botonNegativo-Diagnosticar button:hover {
    color: white;
    background-color: #c00303;

}

/*Propiedades del botón Positivo*/
#cajaBotones-Diagnosticar #botonPositivo-Diagnosticar button {
    color: #64af54;
    border-color: #64af54;

}

/*Propiedad hover del botón Positivo*/
#cajaBotones-Diagnosticar #botonPositivo-Diagnosticar button:hover {
    color: white;
    background-color: #64af54;

}

/*Propiedades del botón reiniciar*/
#cajaBotones-Diagnosticar #botonReiniciar-Diagnosticar button {
    color: #535353;
    border-color: #535353;

}

/*Propiedad hover del botón reiniciar*/
#cajaBotones-Diagnosticar #botonReiniciar-Diagnosticar button:hover {
    color: white;
    background-color: #535353;

}