/*Propiedades caja contenedora de cabecera Diagrama*/
#cabeceraDiagnosticar-Diagrama{

    /*border: 5px solid aqua;*/
    /*margin-top: 2px;*/
    height: 3rem;
    padding: 4px;
    background-color: #eff2f5;
    box-shadow: 5px 3px 15px #000;/*#666*/ /*box-shadow: x y difuminación color*/
}

/*Propiedades del label Diagrama en la cabecera*/
#cajaLabelDiagnosticar-Diagrama label{
    
    margin-left: 0.7rem;
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 23px;
    font-weight: 700;
}
