/*Caja superior barra busqueda y desplegable categoria*/
#busqueda{
    
    width: fit-content;
    display: inline-table;    
    margin: 0% 0% 0% 1%;
    
}

/*Propiedades del desplegable select categoria en el menu superior*/
#busqueda select{
    
    width: fit-content;
    max-width: 94%;
    height: 37px;
    background-color: #eff2f5;
    color: #000;
    border-color: #212844 ;
    font-family: 'Noto Sans Display', sans-serif;
    box-shadow: none; 

}

/*Propiedad hover del desplegable select categoria en el menu superior*/
#busqueda select:hover{

    background-color: #E4AC34;
    transition:all .2s ease-out;
    color: white;
    
}


/*Propiedad del desplegable select categoria para mostrar en linea*/
#busqueda .form-select{
    display: inline;
}

/*Propiedades del input categoria en el menu superior*/
#busqueda input{

    display: inline;
    width: 14rem;
    height: 37px;
    background-color: #eff2f5;
    margin-top: 5px;
    color: #000;
    border-color: #212844;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-family: 'Noto Sans Display', sans-serif;
    box-shadow: none; /*Quita la sombra verde alrededor del botón*/
}

/*Propiedades del input categoria en el menu superior*/
#busqueda input:focus{
    font-family: 'Noto Sans Display', sans-serif;
    box-shadow: none!important; /*Quita la sombra verde alrededor del botón*/
    color: #000;
}

/*Propiedad del input para cambiar color del placeholder*/
#busqueda input::placeholder{
    
    color: #565758;
    font-style: italic;
}

/*Propiedades del botón enviar para buscar palabra*/
#busqueda #enviarBuscar-Plataforma{
    height: 37px;
    margin-bottom: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: #eff2f5;
    color: #000;
    border-color: #212844 ;
}

/*Propiedad hover del botón enviar para buscar palabra*/
#busqueda #enviarBuscar-Plataforma:hover{
    background-color: #E4AC34;
    color: white;
}

/*Propiedad focus del botón enviar para buscar palabra*/
#busqueda #enviarBuscar-Plataforma:focus{
    box-shadow: none;
}