
/*Color de fondo*/
#seccion{
    
    height: 100vh; 
    width: 100%;
    border: 0.01px solid #212844; /*Despliega borde en toda la pantalla*/
    background-color: #212844;
    display: flex;
    align-items: center;
    
}

/*Caja contenedora del login*/
#caja{
    border: 1px solid;
    border-color: #323d47be;
    border-radius: 7px;
    width: 450px;
    background-color: #eff2f5;
    min-width: 30%;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    box-shadow: 5px 10px 15px #000;
}

/*Letras inicio de sesión*/
#caja p{
    
    font-weight: bolder;
    text-align: center;
    font-family: 'Noto Sans Display', sans-serif;
}

/*Mensajes de error para usuario*/
#caja h6{
    font-family: 'Noto Sans Display', sans-serif;
    font-style: italic;
}

/*Inputs de usuario y contraseña*/
#usuario, #contraseña{
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    box-shadow: none; /*Quita la sombra azul alrededor del input*/
    
}

/*Input de usuario*/
#usuario{
    margin-bottom: 1rem; 

}

/*Propiedad focus en los inputs usuario y contraseña*/
#usuario:focus, #contraseña:focus{
    border-color: #ced4da;
}

/*Contenedor de botón enviar*/
#cajaBoton {
    text-align: center;
}

/*Iconos al lado del input*/
#caja form .input-group #btnGroupAddon{
    width: 40px;
    height: 40px;
    background-color: #ffc107;
    
}

/*Botón enviar*/
#cajaBoton #btnEnviar{
    margin-top: 2rem;
    background: transparent;
    color: #000;
    border-color: #ffc107;
    font-family: 'Noto Sans Display', sans-serif;
    width: 6rem;
    box-shadow: none; /*Quita la sombra verde alrededor del botón*/
}

/*Propiedad hover sobre el botón enviar*/
#cajaBoton #btnEnviar:hover{
    border-color: #ffc107;
    background-color: #ffc107;
    color: white;
    font-weight: bolder;
}

/*Botón regresar*/
#cajaBoton #btnRegresar{
    margin-top: 2rem;
    margin-right: 10%;
    background: transparent;
    color: #000;
    font-family: 'Noto Sans Display', sans-serif;
    width: 6rem;
    box-shadow: none; /*Quita la sombra verde alrededor del botón*/
    border-color: #6c757d;
}

/*Propiedad hover sobre el botón regresar*/
#cajaBoton #btnRegresar:hover{
    background-color: #6c757d;
    color: white;
    font-weight: bolder;
    
}

/*Linea debajo del logo*/
#caja #linea{

    color: #000;
}

/*Contenedor del logo*/
#cajaLogo{

    text-align: center;

}

/*Imagen logo*/
#logo{
    height: 4rem;
    margin: 2rem 0 2rem 0;
}



