#navbar{

    display: inline;
    float: left;
    width: 10rem;
    max-width: 30%;
    min-height: 100vh;
    background-color: #212844 ;    
    z-index: 99px;
}

/*Caja menu superior*/
#menuSuperior{

    height: 3rem;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #212844 ;
    box-shadow: 5px 2px 5px;
    
}

/*Caja general donde van las vistas */
#contenido{

    height: 92.5vh;

}

/*Caja texto menu*/
#menu{
    
    text-align: center;
    height: 3rem;
    background-color: #3B4962;
    box-shadow: -5px 2px 5px;
    
}

/*Texto menu*/
#menu p{
    margin-top: 5px;
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;/*Separar las letras*/
    font-size: 20px;
    color: white;
    padding: 6px;
}

/*Caja logo*/
#imagen{

    border: 5px solid #212844 ;
    border-top: 10px solid #212844 ;
    margin-top: -10px;
    text-align: center;
    background-color: #eff2f5;

}

/*Tamaño logo*/
#imagen #logo{

    height: 1.5rem;
    max-width: 100%;
}

/*Caja contenedora superior de botones adminUsuario, inicio, cambio contraseña y perfil*/
#botonesSuperior{
    float: right;
    display: inline;
    margin-right: 5px;
}

/*Se redondean todos los botones del menu superior*/
#botonesSuperior button{
    border-radius: 5px;
}

#botonesSuperior #inicio{
    
    width: 6rem;
    height: 37px;
    margin-top: 5px;
    background-color: #eff2f5;
    color: #000;
    border-color: #212844 ;   
    font-family: 'Noto Sans Display', sans-serif;
    box-shadow: none; /*Quita la sombra verde alrededor del botón*/

}

/*Propiedades del botón administrarUsuario en el menu superior*/
#botonesSuperior #administrarUsuario{
    width: 12.5rem;
    height: 37px;
    margin-top: 5px;
    margin-right: -1px;
    background-color: #eff2f5;
    color: #000;
    border-color: #212844 ;   
    font-family: 'Noto Sans Display', sans-serif;
    box-shadow: none; /*Quita la sombra verde alrededor del botón*/
}

#botonesSuperior #cambioContraseña{
    width: fit-content;
    height: 37px;
    margin-top: 5px;
    margin-right: -1px;
    background-color: #eff2f5;
    color: #000;
    border-color: #212844 ;
    font-family: 'Noto Sans Display', sans-serif;
    box-shadow: none; /*Quita la sombra verde alrededor del botón*/
}

#botonesSuperior #salir{
    width: 6rem;
    height: 37px;
    margin-top: 5px;
    margin-right: -1px;
    background-color: #eff2f5;
    color: #000;
    border-color: #212844 ;
    font-family: 'Noto Sans Display', sans-serif;
    box-shadow: none; /*Quita la sombra verde alrededor del botón*/
}

/*Propiedad hover para botones inicio, perfil y administrarUsuario*/
#botonesSuperior #inicio:hover, 
#botonesSuperior #administrarUsuario:hover,
#botonesSuperior #cambioContraseña:hover,
#botonesSuperior #salir:hover{

    background-color: #E4AC34;
    color: white;
}

/*Propiedad focus para botones inicio, perfil y categoria*/
#botonesSuperior button:focus{

    background-color: #E4AC34;
    color: white;
    box-shadow: none; /*Quita la sombra verde alrededor del botón*/
}

/*Icono casa en menu superir boton inicio e Icono mas en menu superior boton agregar usuario*/
#botonesSuperior #inicio i, 
#botonesSuperior #administrarUsuario i,
#botonesSuperior #cambioContraseña i,
#botonesSuperior #salir i{
    margin-right: 10px;
}

/*Caja contenedora en el Sidebar de los botones diagnosticar, reglas, diccionario y diagrama*/
#navbar #opciones{
    margin-top: 20px;
    text-align: left;
       
}

/*Botones en el Sidebar (diagnosticar, reglas, diccionaro y diagrama)*/
#navbar #opciones button{
    width: 100%;
    height: 55px;
    border-radius: 0%; /*Para que el botón sea totalmente cuadrado*/
    background: transparent;
    color: white;
    border-color: transparent;
    text-align: left;
    font-family: 'Noto Sans Display', sans-serif;
    box-shadow: none; /*Quita la sombra verde alrededor del botón*/
    margin-top: 12px;
}

/*Propiedades de los iconos en los botones del sidebar (diagnosticar, reglas, diccionaro y diagrama)*/
#navbar #opciones button i{

    margin-right: 10px;
}

/*Propiedad hover para botones en el Sidebar (diagnosticar, reglas, diccionaro y diagrama)*/
#navbar #opciones button:hover{
    background-color: #E4AC34;
    color: white;
    font-family: 'Noto Sans Display', sans-serif;
    box-shadow: none; /*Quita la sombra verde alrededor del botón*/
}

/*Propiedades de todos los label del modal Cambiar contraseña*/
.modal .modal-body #labelContraseñaActual-Plataforma
{
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 10px;
    font-family: 'Noto Sans Display', sans-serif;
    display: block;
}

/*Propiedad focus de todos los inputs del modal Cambiar contraseña*/
.modal .modal-body input:focus{
    box-shadow: none;
    border-color: #ced4da;
}

/*Propiedad placeholder de todos los inputs del modal Cambiar contraseña*/
.modal .modal-body input::placeholder{
    font-style: italic;
}