
/*Caja contenedora de toda la vista resultado diagnostico*/
#fondo-ResultadoDiagnostico{
    height: 92vh;
}

/*Propiedades caja contenedora de cabecera resultado diagnostico y Boton*/
#cabecera-ResultadoDiagnostico{

    height: 3rem;
    background-color: #eff2f5;
    box-shadow: 5px 3px 15px #000;
    overflow: auto;
}

/*Caja contenedora de la palabra resultado diagnostico*/
#cabecera-ResultadoDiagnostico #cajaNombreOpcion-ResultadoDiagnostico{
    display: inline-table;
    width: fit-content;
}

/*Palabra resultado diagnostico*/
#cabecera-ResultadoDiagnostico #cajaNombreOpcion-ResultadoDiagnostico label{
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 130%;
    padding: 5px 0px 0px 10px;
}

/*Propiedades de la caja contenedora de la tabla*/
form #cajaTabla-ResultadoDiagnostico{
    width: 50%;
    height: 20rem !important;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    box-shadow: 5px 10px 15px #000;
}

/*Propiedades de la caja botón agregar termino*/
#cabecera-ResultadoDiagnostico #cajaGenerarPDF-ResultadoDiagnostico {
    width: fit-content;
    float: right;
    margin: 5px 5px 0px 0px;

}

/*Propiedades del label ¿Desea agregar un termino?*/
#cajaGenerarPDF-ResultadoDiagnostico #labelGenerarPDF-ResultadoDiagnostico {
    font-size: 16px;
    font-style: italic;
    margin-right: 10px;
}

/*Propiedades del botón Agregar resultado diagnostico*/
#cajaGenerarPDF-ResultadoDiagnostico #generarDiagnostico-ResultadoDiagnostico {
    background-color: #eff2f5;
    padding-top: 2px;
    color: #000;
    border-color: #000;

}

/*Propiedad hover del botón Agregar resultado diagnostico*/
#cajaGenerarPDF-ResultadoDiagnostico #generarDiagnostico-ResultadoDiagnostico:hover {
    background-color: #E4AC34;
    border-color: #E4AC34;
    color: white;

}

/*Propiedad focus del botón Agregar resultado diagnostico*/
#cajaGenerarPDF-ResultadoDiagnostico #generarDiagnostico-ResultadoDiagnostico:focus {

    box-shadow: none;

}

/*Propiedades del icono mas al lado del botón Agregar resultado diagnostico*/
#cajaGenerarPDF-ResultadoDiagnostico #generarDiagnostico-ResultadoDiagnostico i {
    margin-right: 10px;
}

/*Propiedades de toda la tabla en general*/
#tabla-ResultadoDiagnostico{
    
    font-family: 'Noto Sans Display', sans-serif;
    background-color: #eff2f5;
    
}

/*Propiedades de la cabecera que contiene los mensajes para el usuario y el botón recargar*/
#cajaCabecera-ResultadoDiagnostico{
    overflow: auto;
}

/*Propiedades caja del mensaje respuesta*/
#cajaCabecera-ResultadoDiagnostico #cajaMensajeRespuesta-ResultadoDiagnostico{
    float: left;
    width: 80%;
    height: 3rem;
}

/*Propiedades del mensaje respuesta*/
#cajaMensajeRespuesta-ResultadoDiagnostico #mensajeRespuesta-ResultadoDiagnostico{
    margin-top: 10px;
    margin-left: 10px;
    font-style: italic;
}

/*Propiedades caja del boton recargar*/
#cajaCabecera-ResultadoDiagnostico #cajaBotonRecargar-ResultadoDiagnostico{
    float: right;
    width: 20%;
    height: 3rem;
    text-align: right;
}

/*Propiedades del botón recargar en la tabla*/
#cajaBotonRecargar-ResultadoDiagnostico #botonRecargar-ResultadoDiagnostico{
    margin-top: 5px;
    background-color: #eff2f5;
    color: #000;
    border-color: #000;
    margin-right: 10px;
}

/*Propiedad hover del botón recargar en la tabla*/
#cajaBotonRecargar-ResultadoDiagnostico #botonRecargar-ResultadoDiagnostico:hover{
    
    background-color: #E4AC34;
    border-color: #E4AC34;
    color: white;
    
}

/*Propiedad focus del botón recargar en la tabla*/
#cajaBotonRecargar-ResultadoDiagnostico #botonRecargar-ResultadoDiagnostico:focus{
    
    box-shadow: none;
    
}

/*Propiedades de la columna cedula en la cabecera*/
#cedulaTablaCabecera-ResultadoDiagnostico{
    text-align: center;
    width: 16.66%;
}

/*Propiedades de la columna nombrePaciente en la cabecera*/
#nombrePacienteTablaCabecera-ResultadoDiagnostico{
    width: 16.66%;
    text-align: center;
}

/*Propiedades de la columna Correo en la cabecera*/
#resultadoTablaCabecera-ResultadoDiagnostico{
    width: 16.66%;
    text-align: center;
    
}

/*Propiedades de la columna resultado en la cabecera*/
#observacionesTablaCabecera-ResultadoDiagnostico{
    width: 16.66%;
    text-align: center;
    
}

/*Propiedades de la columna resultado en la cabecera*/
#fechaTablaCabecera-ResultadoDiagnostico{
    width: 16.66%;
    text-align: center;
    
}

/*Propiedades de la columna Modificar/Eliminar en la cabecera*/
#modificarEliminarTablaCabecera-ResultadoDiagnostico{
    width: 16.66%;
    text-align: center;
}

/*Propiedades de la fila Cedula*/
#cedulaTablaFila-ResultadoDiagnostico{
    text-align: center;
    font-weight: lighter;
}

/*Propiedades de la fila nombreUsuario*/
#nombrePacienteTablaFila-ResultadoDiagnostico{
    text-align: center;
}

/*Propiedades de la fila Correo*/
#resultadoTablaFila-ResultadoDiagnostico{

    text-align: center;
}

/*Propiedades de la fila observaciones*/
#observacionesTablaFila-ResultadoDiagnostico{

    text-align: center;
    
}

/*Propiedades de la fila fecha*/
#fechaTablaFila-ResultadoDiagnostico{
    text-align: center;
    
}

/*Propiedades de la fila Modificar/Eliminar*/
#modificarEliminarTablaFila-ResultadoDiagnostico{
    text-align: center;
}

/*Propiedades de los botones de modificar y eliminar*/
#modificarEliminarTablaFila-ResultadoDiagnostico button{
    margin-top: 5%;
    border-radius: 0px;
    background: transparent;
    color: #000;
    border-color: transparent;
    font-family: 'Noto Sans Display', sans-serif;
    box-shadow: none; /*Quita la sombra verde alrededor del botón*/
}

/*Propiedades de los iconos en los botones modificar y eliminar*/
#modificarEliminarTablaFila-ResultadoDiagnostico i{
    font-size: 23px;
    
}

/*Propiedad del icono modificar en el botón modificar*/
#botonModificar-ResultadoDiagnostico #iconoModificar-ResultadoDiagnostico{
    color: rgb(83, 83, 83);
}

/*Propiedad del icono eliminar en el botón eliminar*/
#botonEliminar-ResultadoDiagnostico #iconoEliminar-ResultadoDiagnostico{
    color: rgb(192, 3, 3);
}


/*Propiedades de los labels del modal Eliminar termino. Advertencia y ¿Realmente quiere eliminar este termino?.*/
#modalEliminar-ResultadoDiagnostico #modalLabelEliminar-ResultadoDiagnostico label,
#modalEliminar-ResultadoDiagnostico .modal-body label
{

    font-family: 'Noto Sans Display', sans-serif;
}

/*Propiedades del icono advertencia en el modal de Eliminar termino*/
#modalEliminar-ResultadoDiagnostico #modalLabelEliminar-ResultadoDiagnostico i{
    margin-right: 10px;
}

/*Propiedades del label Los cambios no se podrán revertir en modal Eliminar termino.*/
#modalEliminar-ResultadoDiagnostico .modal-body #labelRevertirCambios-ResultadoDiagnostico{
    font-style: italic;
}

/*Propiedades del boton Cancelar en modal Eliminar termino y en el modal Modificar termino*/
#modalEliminar-ResultadoDiagnostico .modal-footer #botonModalCancelar-ResultadoDiagnostico, #modalModificar-ResultadoDiagnostico .modal-footer #botonModalCancelar-ResultadoDiagnostico{
    font-family: 'Noto Sans Display', sans-serif;
    background-color: transparent;
    border-color: #535353;
    color: #000;
}

/*Propiedad hover del boton Cancelar en modal Eliminar termino y en el modal Modificar termino*/
#modalEliminar-ResultadoDiagnostico .modal-footer #botonModalCancelar-ResultadoDiagnostico:hover, #modalModificar-ResultadoDiagnostico .modal-footer #botonModalCancelar-ResultadoDiagnostico:hover{
    
    background-color: #535353;
    color: white;
}

/*Propiedad focus del boton Cancelar en modal Eliminar termino y en el modal Modificar termino*/
#modalEliminar-ResultadoDiagnostico .modal-footer #botonModalCancelar-ResultadoDiagnostico:focus, #modalModificar-ResultadoDiagnostico .modal-footer #botonModalCancelar-ResultadoDiagnostico:focus{
    box-shadow: none;
}

/*Propiedades del boton Eliminar en modal Eliminar termino*/
#modalEliminar-ResultadoDiagnostico .modal-footer #botonModalEliminar-ResultadoDiagnostico{
    font-family: 'Noto Sans Display', sans-serif;
    background-color: transparent;
    border-color: #c00303;
    color: #000;
}

/*Propiedad hover del boton Eliminar en modal Eliminar termino*/
#modalEliminar-ResultadoDiagnostico .modal-footer #botonModalEliminar-ResultadoDiagnostico:hover{
    
    background-color: #c00303;
    color: white;
}

/*Propiedad focus del boton Eliminar en modal Eliminar termino*/
#modalEliminar-ResultadoDiagnostico .modal-footer #botonModalEliminar-ResultadoDiagnostico:focus{
    box-shadow: none;
}

/*Propiedades del botón de la X para cerrar el modal Eliminar termino*/
.modal-header .btn-close:focus{
    
    box-shadow: none;
}

/*Propiedades del icono modificar en el modal de Modificar termino*/
#modalModificar-ResultadoDiagnostico #modalLabelModificar-ResultadoDiagnostico i{
    margin-right: 10px;
}

/*Propiedades de los label resultado diagnostico y Correo en el modal de Modificar termino*/
#modalModificar-ResultadoDiagnostico .modal-body label{
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 10px;
}

/*Propiedades del textarea Correo en el modal de Modificar termino*/
#modalModificar-ResultadoDiagnostico .modal-body textarea{
    resize: none;
    height: 7rem;
}

/*Propiedades focus del input resultado diagnostico y el textarea Correo en el modal de Modificar termino*/
#modalModificar-ResultadoDiagnostico .modal-body input:focus, #modalModificar-ResultadoDiagnostico .modal-body textarea:focus{
    box-shadow: none;
    border-color: #ced4da;
}

/*Propiedades de los placeholder del input resultado diagnostico y el textarea Correo en el modal de Modificar termino*/
#modalModificar-ResultadoDiagnostico .modal-body input::placeholder, #modalModificar-ResultadoDiagnostico .modal-body textarea::placeholder{
    font-style: italic;
}

/*Propiedades del botón modificar en el modal Modificar termino*/
#modalModificar-ResultadoDiagnostico .modal-footer #botonModalModificar-ResultadoDiagnostico{
    background-color: transparent;
    border-color: #ffc107;
    color: #000;
}

/*Propiedad hover del botón modificar en el modal Modificar termino*/
#modalModificar-ResultadoDiagnostico .modal-footer #botonModalModificar-ResultadoDiagnostico:hover{
    background-color: #ffc107;
    color: white;
}

/*Propiedad focus del botón modificar en el modal Modificar termino*/
#modalModificar-ResultadoDiagnostico .modal-footer #botonModalModificar-ResultadoDiagnostico:focus{
    box-shadow: none;
}


/*Propiedades del icono al lado de los input en los modales*/
#modalModificar-ResultadoDiagnostico #btnGroupAddon{
    background-color: #ffc107;/*E4AC34*/
    color: white;
}

