/*Caja contenedora de toda la vista sintomas*/
#fondo-AdministrarSintomas {
    height: 92vh;
}

/*Propiedades caja contenedora de cabecera sintomas y Boton*/
#cabeceraAdministrarPreguntas-AdministrarSintomas {
    height: 3rem;
    background-color: #eff2f5;
    box-shadow: 5px 3px 15px #000;
    overflow: auto;
}

/*Caja contenedora de la palabra sintomas*/
#cabeceraAdministrarPreguntas-AdministrarSintomas #cajaNombreOpcion-AdministrarSintomas {
    display: inline-table;
    width: fit-content;

}

/*Palabra sintomas*/
#cabeceraAdministrarPreguntas-AdministrarSintomas #cajaNombreOpcion-AdministrarSintomas label {
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 130%;
    padding: 5px 0px 0px 10px;
}

/*Propiedades de la caja botón agregar termino*/
#cabeceraAdministrarPreguntas-AdministrarSintomas #cajaAgregarAdministrarSintomas-AdministrarSintomas {
    width: fit-content;
    float: right;
    margin: 5px 5px 0px 0px;

}

/*Propiedades del label ¿Desea agregar un termino?*/
#cajaAgregarAdministrarSintomas-AdministrarSintomas #labelAgregarSintoma-AdministrarSintomas {
    font-size: 16px;
    font-style: italic;
    margin-right: 10px;
}

/*Propiedades del botón Agregar sintomas*/
#cajaAgregarAdministrarSintomas-AdministrarSintomas #agregarSintoma-AdministrarSintomas {
    background-color: #eff2f5;
    padding-top: 2px;
    color: #000;
    border-color: #000;

}

/*Propiedad hover del botón Agregar sintomas*/
#cajaAgregarAdministrarSintomas-AdministrarSintomas #agregarSintoma-AdministrarSintomas:hover {

    background-color: #E4AC34;
    border-color: #E4AC34;
    color: white;

}

/*Propiedad focus del botón Agregar sintomas*/
#cajaAgregarAdministrarSintomas-AdministrarSintomas #agregarSintoma-AdministrarSintomas:focus {

    box-shadow: none;

}

/*Propiedades del icono mas al lado del botón Agregar sintomas*/
#cajaAgregarAdministrarSintomas-AdministrarSintomas #agregarSintoma-AdministrarSintomas i {
    margin-right: 10px;
}

/*Propiedades de la caja contenedora de la tabla*/
form #cajaTabla-AdministrarSintomas {
    width: 50%;
    height: 20rem !important;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    box-shadow: 5px 10px 15px #000;

}

/*Propiedades de toda la tabla en general*/
#tabla-AdministrarSintomas {

    font-family: 'Noto Sans Display', sans-serif;
    background-color: #eff2f5;

}

/*Propiedades de la cabecera que contiene los mensajes para el usuario y el botón recargar*/
#cajaCabecera-AdministrarSintomas {
    overflow: auto;
}

/*Propiedades caja del mensaje respuesta*/
#cajaCabecera-AdministrarSintomas #cajaMensajeRespuesta-AdministrarSintomas {
    float: left;
    width: 80%;
    height: 3rem;
}

/*Propiedades del mensaje respuesta*/
#cajaMensajeRespuesta-AdministrarSintomas #mensajeRespuesta-AdministrarSintomas {
    margin-top: 10px;
    margin-left: 10px;
    font-style: italic;
}

/*Propiedades caja del boton recargar*/
#cajaCabecera-AdministrarSintomas #cajaBotonRecargar-AdministrarSintomas {
    float: right;
    width: 20%;
    height: 3rem;
    text-align: right;
}

/*Propiedades del botón recargar en la tabla*/
#cajaBotonRecargar-AdministrarSintomas #botonRecargar-AdministrarSintomas {
    margin-top: 5px;
    background-color: #eff2f5;
    color: #000;
    border-color: #000;
    margin-right: 10px;
}

/*Propiedad hover del botón recargar en la tabla*/
#cajaBotonRecargar-AdministrarSintomas #botonRecargar-AdministrarSintomas:hover {

    background-color: #E4AC34;
    border-color: #E4AC34;
    color: white;

}

/*Propiedad focus del botón recargar en la tabla*/
#cajaBotonRecargar-AdministrarSintomas #botonRecargar-AdministrarSintomas:focus {

    box-shadow: none;

}

/*Propiedades de la columna pregunta en la cabecera*/
#sintomaTablaCabecera-AdministrarSintomas {
    text-align: center;
    width: 40%;
}

/*Propiedades de la columna Sintoma en la cabecera*/
#tipoDepresionTablaCabecera-AdministrarSintomas {
    width: 40%;
    text-align: center;
}

/*Propiedades de la columna Modificar/Eliminar en la cabecera*/
#modificarEliminarTablaCabecera-AdministrarSintomas {
    width: 20%;
    text-align: center;
}

/*Propiedades de la fila Cedula*/
#sintomaTablaFila-AdministrarSintomas {
    text-align: center;
    font-weight: lighter;
}

/*Propiedades de la fila nombreUsuario*/
#tipoDepresionTablaFila-AdministrarSintomas {
    text-align: center;
}

/*Propiedades de la fila Modificar/Eliminar*/
#modificarEliminarTablaFila-AdministrarSintomas {
    text-align: center;
}

/*Propiedades de los botones de modificar y eliminar*/
#modificarEliminarTablaFila-AdministrarSintomas button {
    margin-top: 5%;
    border-radius: 0px;
    background: transparent;
    color: #000;
    border-color: transparent;
    font-family: 'Noto Sans Display', sans-serif;
    box-shadow: none;
}

/*Propiedades de los iconos en los botones modificar y eliminar*/
#modificarEliminarTablaFila-AdministrarSintomas i {
    font-size: 23px;

}

/*Propiedad del icono modificar en el botón modificar*/
#botonModificar-AdministrarSintomas #iconoModificar-AdministrarSintomas {
    color: rgb(83, 83, 83);
}

/*Propiedad del icono eliminar en el botón eliminar*/
#botonEliminar-AdministrarSintomas #iconoEliminar-AdministrarSintomas {
    color: rgb(192, 3, 3);
}


/*Propiedades de los labels del modal Eliminar termino. Advertencia y ¿Realmente quiere eliminar este termino?.*/
#modalEliminar-AdministrarSintomas #modalLabelEliminar-AdministrarSintomas label,
#modalEliminar-AdministrarSintomas .modal-body label {

    font-family: 'Noto Sans Display', sans-serif;
}

/*Propiedades del icono advertencia en el modal de Eliminar termino*/
#modalEliminar-AdministrarSintomas #modalLabelEliminar-AdministrarSintomas i {
    margin-right: 10px;
}

/*Propiedades del label Los cambios no se podrán revertir en modal Eliminar termino.*/
#modalEliminar-AdministrarSintomas .modal-body #labelRevertirCambios-AdministrarSintomas {
    font-style: italic;
}

/*Propiedades del boton Cancelar en modal Eliminar termino y en el modal Modificar termino*/
#modalEliminar-AdministrarSintomas .modal-footer #botonModalCancelar-AdministrarSintomas,
#modalModificar-AdministrarSintomas .modal-footer #botonModalCancelar-AdministrarSintomas {
    font-family: 'Noto Sans Display', sans-serif;
    background-color: transparent;
    border-color: #535353;
    color: #000;
}

/*Propiedad hover del boton Cancelar en modal Eliminar termino y en el modal Modificar termino*/
#modalEliminar-AdministrarSintomas .modal-footer #botonModalCancelar-AdministrarSintomas:hover,
#modalModificar-AdministrarSintomas .modal-footer #botonModalCancelar-AdministrarSintomas:hover {

    background-color: #535353;
    color: white;
}

/*Propiedad focus del boton Cancelar en modal Eliminar termino y en el modal Modificar termino*/
#modalEliminar-AdministrarSintomas .modal-footer #botonModalCancelar-AdministrarSintomas:focus,
#modalModificar-AdministrarSintomas .modal-footer #botonModalCancelar-AdministrarSintomas:focus {
    box-shadow: none;
}

/*Propiedades del boton Eliminar en modal Eliminar termino*/
#modalEliminar-AdministrarSintomas .modal-footer #botonModalEliminar-AdministrarSintomas {
    font-family: 'Noto Sans Display', sans-serif;
    background-color: transparent;
    border-color: #c00303;
    color: #000;
}

/*Propiedad hover del boton Eliminar en modal Eliminar termino*/
#modalEliminar-AdministrarSintomas .modal-footer #botonModalEliminar-AdministrarSintomas:hover {

    background-color: #c00303;
    color: white;
}

/*Propiedad focus del boton Eliminar en modal Eliminar termino*/
#modalEliminar-AdministrarSintomas .modal-footer #botonModalEliminar-AdministrarSintomas:focus {
    box-shadow: none;
}

/*Propiedades del botón de la X para cerrar el modal Eliminar termino*/
.modal-header .btn-close:focus {

    box-shadow: none;
}

/*Propiedades del icono modificar en el modal de Modificar termino*/
#modalModificar-AdministrarSintomas #modalLabelModificar-AdministrarSintomas i {
    margin-right: 10px;
}

/*Propiedades de los label sintomas y Correo en el modal de Modificar termino*/
#modalModificar-AdministrarSintomas .modal-body label {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 10px;
}

/*Propiedades del textarea sintomas seleccionadio en el modal de Modificar pregunta*/
#modalModificar-AdministrarSintomas .modal-body textarea {
    resize: none;
    height: 7rem;
}

/*Propiedades de la cabecera del sintoma en modificar pregunta*/
#tablaTiposDepresion-AdministrarSintomas #tipoDepresionTablaCabeceraModificar-AdministrarSintomas{
    width: 80%;
}

/*Propiedades de la cabecera del elegir en modificar pregunta*/
#tablaTiposDepresion-AdministrarSintomas #seleccionTablaCabeceraModificar-AdministrarSintomas{
    width: 20%;
}

#tablaTiposDepresion-AdministrarSintomas #columnaCheckbox-AgregarSintomas{
    text-align: center;
}

/*Propiedades focus del input sintomas y el textarea Correo en el modal de Modificar termino*/
#modalModificar-AdministrarSintomas .modal-body input:focus,
#modalModificar-AdministrarSintomas .modal-body textarea:focus {
    box-shadow: none;
    border-color: #ced4da;
}

/*Propiedades de los placeholder del input sintomas y el textarea Correo en el modal de Modificar termino*/
#modalModificar-AdministrarSintomas .modal-body input::placeholder,
#modalModificar-AdministrarSintomas .modal-body textarea::placeholder {
    font-style: italic;
}

/*Propiedades del botón modificar en el modal Modificar termino*/
#modalModificar-AdministrarSintomas .modal-footer #botonModalModificar-AdministrarSintomas {
    background-color: transparent;
    border-color: #ffc107;
    color: #000;
}

/*Propiedad hover del botón modificar en el modal Modificar termino*/
#modalModificar-AdministrarSintomas .modal-footer #botonModalModificar-AdministrarSintomas:hover {
    background-color: #ffc107;
    color: white;
}

/*Propiedad focus del botón modificar en el modal Modificar termino*/
#modalModificar-AdministrarSintomas .modal-footer #botonModalModificar-AdministrarSintomas:focus {
    box-shadow: none;
}

/*Propiedades de los label sintomas y Correo en Agregar Nuevo sintomas en el modalAgregarAdministrarUsuarios-sintomas*/
#modalModificar-AdministrarSintomas .modal-body #labelTipoDepresionModificar-AdministrarSintomas label,
#modalModificar-AdministrarSintomas .modal-body #tipoCuenta-AgregarCuenta,
#modalModificar-AdministrarSintomas .modal-body #labelSintomaModificar-AdministrarSintomas label {
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 10px;
    font-family: 'Noto Sans Display', sans-serif;
    display: block;
}

/*Propiedad de los radio buttons*/
.modal-body #cajaRadioButtons-AgregarCuenta {
    text-align: left;
}

/*Propiedades del icono al lado de los input en los modales*/
#modalModificar-AdministrarSintomas #btnGroupAddon {
    background-color: #ffc107;
    /*E4AC34*/
    color: white;
}

/*Propiedades tabla modificar preguntas*/
#cajaTablaModificar-AdministrarSintomas {
    border: 1px solid #ced4da;
    height: 15rem;
    overflow: auto;
}

/*Propiedades de la caja del boton recargar modificar*/
#cajaTablaModificar-AdministrarSintomas #cajaBotonRecargarModificar-AdministrarSintomas {

    float: right;
}

/*Propiedades de las cabeceras en tabla modificar*/
#cajaTablaModificar-AdministrarSintomas #tablaTiposDepresion-AdministrarSintomas th {

    text-align: center;
    font-weight: 600;
}

/*Propiedades de la columna que contiene los checkbox en tabla modificar*/
#cajaTablaModificar-AdministrarSintomas #tablaTiposDepresion-AdministrarSintomas #columnaCheckbox-AdministrarPreguntas {

    text-align: center;
    
}

/*Propiedad checked de la columna que contiene los checkbox en tabla modificar*/
#cajaTablaModificar-AdministrarSintomas #tablaTiposDepresion-AdministrarSintomas td #checkbox-AgregarSintomas:checked {

    background-color: #ffc107;
    border-color: #ffc107;
}

/*Propiedad focus de la columna que contiene los checkbox en tabla modificar*/
#cajaTablaModificar-AdministrarSintomas #tablaTiposDepresion-AdministrarSintomas td #checkbox-AdministrarPreguntas:focus {

    box-shadow: none;
}

/*Propiedades del botón recargar en la tabla modificar*/
#cajaBotonRecargarModificar-AdministrarSintomas #botonRecargarModificar-AdministrarSintomas {
    margin-top: 5px;
    background-color: #eff2f5;
    color: #000;
    border-color: #000;
    margin-right: 10px;
}

/*Propiedad hover del botón recargar en la tabla modificar*/
#cajaBotonRecargarModificar-AdministrarSintomas #botonRecargarModificar-AdministrarSintomas:hover {

    background-color: #E4AC34;
    border-color: #E4AC34;
    color: white;

}

/*Propiedad focus del botón recargar en la tabla modificar*/
#cajaBotonRecargarModificar-AdministrarSintomas #botonRecargarModificar-AdministrarSintomas:focus {

    box-shadow: none;

}
