/*Caja contenedora de toda la vista tipos depresión*/
#fondo-AdministrarTiposDepresion {
    height: 92vh;
}

/*Propiedades caja contenedora de cabecera tipos depresión y Boton*/
#cabeceraAdministrarTiposDepresion-AdministrarTiposDepresion {
    height: 3rem;
    background-color: #eff2f5;
    box-shadow: 5px 3px 15px #000;
    overflow: auto;
}

/*Caja contenedora de la palabra tipos depresión*/
#cabeceraAdministrarTiposDepresion-AdministrarTiposDepresion #cajaNombreOpcion-AdministrarTiposDepresion {
    display: inline-table;
    width: fit-content;
}

/*Palabra tipos depresión*/
#cabeceraAdministrarTiposDepresion-AdministrarTiposDepresion #cajaNombreOpcion-AdministrarTiposDepresion label {
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 117%;
    padding: 5px 0px 0px 10px;
}

/*Propiedades de la caja botón agregar termino*/
#cabeceraAdministrarTiposDepresion-AdministrarTiposDepresion #cajaAgregarAdministrarTiposDepresion-AdministrarTiposDepresion {
    width: fit-content;
    float: right;
    margin: 5px 5px 0px 0px;

}

/*Propiedades del label ¿Desea agregar un termino?*/
#cajaAgregarAdministrarTiposDepresion-AdministrarTiposDepresion #labelAgregarTipoDepresion-AdministrarTipoDepresion {
    font-size: 16px;
    font-style: italic;
    margin-right: 10px;
}

/*Propiedades del botón Agregar tipos depresión*/
#cajaAgregarAdministrarTiposDepresion-AdministrarTiposDepresion #agregarTipoDepresion-AdministrarTipoDepresion {

    background-color: #eff2f5;
    padding-top: 2px;
    color: #000;
    border-color: #000;

}

/*Propiedad hover del botón Agregar tipos depresión*/
#cajaAgregarAdministrarTiposDepresion-AdministrarTiposDepresion #agregarTipoDepresion-AdministrarTipoDepresion:hover {

    background-color: #E4AC34;
    border-color: #E4AC34;
    color: white;

}

/*Propiedad focus del botón Agregar tipos depresión*/
#cajaAgregarAdministrarTiposDepresion-AdministrarTiposDepresion #agregarTipoDepresion-AdministrarTipoDepresion:focus {

    box-shadow: none;

}

/*Propiedades del icono mas al lado del botón Agregar tipos depresión*/
#cajaAgregarAdministrarTiposDepresion-AdministrarTiposDepresion #agregarTipoDepresion-AdministrarTipoDepresion i {
    margin-right: 10px;
}

/*Propiedades de la caja contenedora de la tabla*/
form #cajaTabla-AdministrarTiposDepresion {
    width: 50%;
    height: 20rem !important;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    box-shadow: 5px 10px 15px #000;
    
}

/*Propiedades de toda la tabla en general*/
#tabla-AdministrarTiposDepresion {

    font-family: 'Noto Sans Display', sans-serif;
    background-color: #eff2f5;

}

/*Propiedades de la cabecera que contiene los mensajes para el usuario y el botón recargar*/
#cajaCabecera-AdministrarTiposDepresion {
    overflow: auto;
}

/*Propiedades caja del mensaje respuesta*/
#cajaCabecera-AdministrarTiposDepresion #cajamensajeRespuesta-AdministrarTiposDepresion {
    float: left;
    width: 80%;
    height: 3rem;
}

/*Propiedades del mensaje respuesta*/
#cajamensajeRespuesta-AdministrarTiposDepresion #mensajeRespuesta-AdministrarTiposDepresion {
    margin-top: 10px;
    margin-left: 10px;
    font-style: italic;
}

/*Propiedades caja del boton recargar*/
#cajaCabecera-AdministrarTiposDepresion #cajaBotonRecargar-AdministrarTiposDepresion {
    float: right;
    width: 20%;
    height: 3rem;
    text-align: right;
}

/*Propiedades del botón recargar en la tabla*/
#cajaBotonRecargar-AdministrarTiposDepresion #botonRecargar-AdministrarTiposDepresion {
    margin-top: 5px;
    background-color: #eff2f5;
    color: #000;
    border-color: #000;
    margin-right: 10px;
}

/*Propiedad hover del botón recargar en la tabla*/
#cajaBotonRecargar-AdministrarTiposDepresion #botonRecargar-AdministrarTiposDepresion:hover {

    background-color: #E4AC34;
    border-color: #E4AC34;
    color: white;

}

/*Propiedad focus del botón recargar en la tabla*/
#cajaBotonRecargar-AdministrarTiposDepresion #botonRecargar-AdministrarTiposDepresion:focus {

    box-shadow: none;

}

/*Propiedades de la columna pregunta en la cabecera*/
#tipoDepresionTablaCabecera-AdministrarTiposDepresion {
    text-align: center;
    width: 40%;
}

#cantidadSintomasTablaCabecera-AdministrarTiposDepresion{
    text-align: center;
    width: 40%;
}

/*Propiedades de la columna Modificar/Eliminar en la cabecera*/
#modificarEliminarTablaCabecera-AdministrarTipoDepresion {
    width: 20%;
    text-align: center;
}

/*Propiedades de la fila Cedula*/
#tipoDepresionTablaFila-AdministrarTipoDepresion {
    text-align: center;
    font-weight: lighter;
}

#cantidadSintomasFila-AdministrarTipoDepresion {
    text-align: center;
    font-weight: lighter;
}

/*Propiedades de la fila Modificar/Eliminar*/
#modificarEliminarTablaFila-AdministrarTipoDepresion {
    text-align: center;
}

/*Propiedades de los botones de modificar y eliminar*/
#modificarEliminarTablaFila-AdministrarTipoDepresion button {
    margin-top: 5%;
    border-radius: 0px;
    background: transparent;
    color: #000;
    border-color: transparent;
    font-family: 'Noto Sans Display', sans-serif;
    box-shadow: none;
}

/*Propiedades de los iconos en los botones modificar y eliminar*/
#modificarEliminarTablaFila-AdministrarTipoDepresion i {
    font-size: 23px;

}

/*Propiedad del icono modificar en el botón modificar*/
#botonModificar-AdministrarTipoDepresion #iconoModificar-AdministrarTipoDepresion {
    color: rgb(83, 83, 83);
}

/*Propiedad del icono eliminar en el botón eliminar*/
#botonEliminar-AdministrarTipoDepresion #iconoEliminar-AdministrarTipoDepresion {
    color: rgb(192, 3, 3);
}


/*Propiedades de los labels del modal Eliminar termino. Advertencia y ¿Realmente quiere eliminar este termino?.*/
#modalEliminar-AdministrarTipoDepresion #modalLabelEliminar-AdministrarTiposDepresion label,
#modalEliminar-AdministrarTipoDepresion .modal-body label {

    font-family: 'Noto Sans Display', sans-serif;
}

/*Propiedades del icono advertencia en el modal de Eliminar termino*/
#modalEliminar-AdministrarTipoDepresion #modalLabelEliminar-AdministrarTiposDepresion i {
    margin-right: 10px;
}

/*Propiedades del label Los cambios no se podrán revertir en modal Eliminar termino.*/
#modalEliminar-AdministrarTipoDepresion .modal-body #labelRevertirCambios-AdministrarTiposDepresion {
    font-style: italic;
}

/*Propiedades del boton Cancelar en modal Eliminar termino y en el modal Modificar termino*/
#modalEliminar-AdministrarTipoDepresion .modal-footer #botonModalCancelar-AdministrarTiposDepresion,
#modalModificar-AdministrarTipoDepresion .modal-footer #botonModalCancelar-AdministrarTiposDepresion {
    font-family: 'Noto Sans Display', sans-serif;
    background-color: transparent;
    border-color: #535353;
    color: #000;
}

/*Propiedad hover del boton Cancelar en modal Eliminar termino y en el modal Modificar termino*/
#modalEliminar-AdministrarTipoDepresion .modal-footer #botonModalCancelar-AdministrarTiposDepresion:hover,
#modalModificar-AdministrarTipoDepresion .modal-footer #botonModalCancelar-AdministrarTiposDepresion:hover {

    background-color: #535353;
    color: white;
}

/*Propiedad focus del boton Cancelar en modal Eliminar termino y en el modal Modificar termino*/
#modalEliminar-AdministrarTipoDepresion .modal-footer #botonModalCancelar-AdministrarTiposDepresion:focus,
#modalModificar-AdministrarTipoDepresion .modal-footer #botonModalCancelar-AdministrarTiposDepresion:focus {
    box-shadow: none;
}

/*Propiedades del boton Eliminar en modal Eliminar termino*/
#modalEliminar-AdministrarTipoDepresion .modal-footer #botonmodalEliminar-AdministrarTipoDepresion {
    font-family: 'Noto Sans Display', sans-serif;
    background-color: transparent;
    border-color: #c00303;
    color: #000;
}

/*Propiedad hover del boton Eliminar en modal Eliminar termino*/
#modalEliminar-AdministrarTipoDepresion .modal-footer #botonmodalEliminar-AdministrarTipoDepresion:hover {

    background-color: #c00303;
    color: white;
}

/*Propiedad focus del boton Eliminar en modal Eliminar termino*/
#modalEliminar-AdministrarTipoDepresion .modal-footer #botonmodalEliminar-AdministrarTipoDepresion:focus {
    box-shadow: none;
}

/*Propiedades del botón de la X para cerrar el modal Eliminar termino*/
.modal-header .btn-close:focus {

    box-shadow: none;
}

/*Propiedades del icono modificar en el modal de Modificar termino*/
#modalModificar-AdministrarTipoDepresion #modalLabelModificar-AdministrarTiposDepresion i {
    margin-right: 10px;
}

/*Propiedades de los label tipos depresión y Correo en el modal de Modificar termino*/
#modalModificar-AdministrarTipoDepresion .modal-body label {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 10px;
}

/*Propiedades focus del input tipos depresión en el modal de Modificar termino*/
#modalModificar-AdministrarTipoDepresion .modal-body input:focus{
    box-shadow: none;
    border-color: #ced4da;
}

/*Propiedades de los placeholder del input tipos depresión en el modal de Modificar termino*/
#modalModificar-AdministrarTipoDepresion .modal-body input::placeholder {
    font-style: italic;
}

/*Propiedades del botón modificar en el modal Modificar termino*/
#modalModificar-AdministrarTipoDepresion .modal-footer #botonmodalModificar-AdministrarTipoDepresion {
    background-color: transparent;
    border-color: #ffc107;
    color: #000;
}

/*Propiedad hover del botón modificar en el modal Modificar termino*/
#modalModificar-AdministrarTipoDepresion .modal-footer #botonmodalModificar-AdministrarTipoDepresion:hover {
    background-color: #ffc107;
    color: white;
}

/*Propiedad focus del botón modificar en el modal Modificar termino*/
#modalModificar-AdministrarTipoDepresion .modal-footer #botonmodalModificar-AdministrarTipoDepresion:focus {
    box-shadow: none;
}


/*Propiedades de los label tipos depresión y Correo en Agregar Nuevo tipos depresión en el modalAgregarAdministrarUsuarios-tipos depresión*/
#modalModificar-AdministrarTipoDepresion .modal-body #tipoCuenta-AgregarCuenta,
#modalModificar-AdministrarTipoDepresion .modal-body #labelTipoDepresionModificar-AdministrarTipoDepresion label,
#modalModificar-AdministrarTipoDepresion .modal-body #labelCantidadSintomasModificar-AdministrarTipoDepresion {
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 10px;
    font-family: 'Noto Sans Display', sans-serif;
    display: block;
}

/*Propiedad de los radio buttons*/
.modal-body #cajaRadioButtons-AgregarCuenta {
    text-align: left;
}

/*Propiedades del icono al lado de los input en los modales*/
#modalModificar-AdministrarTipoDepresion #btnGroupAddon {
    background-color: #ffc107;
    color: white;
}

