
/*Caja contenedora de toda la vista Diccionario*/
#fondo-Diccionario{
    /*border: 4px solid blue;*/
    height: 92vh;
    /*overflow-y: scroll;*/
}

/*Propiedades caja contenedora de cabecera Terminos y Boton*/
#cabeceraTerminosBoton-Diccionario{

    /*border: 5px solid aqua;*/
    /*margin-top: 2px;*/
    height: 3rem;
    padding: 4px;
    background-color: #eff2f5;
    box-shadow: 5px 3px 15px #000;/*#666*/ /*box-shadow: x y difuminación color*/
}

/*Propiedades caja contenedora de Terminos*/
#cajaLabelTerminos-Diccionario{
    /*border: 2px solid salmon;*/
    /*margin-top: 15px;*/
    /*margin-top: 0px;*/
    width: 40%;
    float: left;
    
}

/*Propiedades del Label Terminos*/
#cajaLabelTerminos-Diccionario label{
    margin-left: 2%;
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 23px;
    font-weight: 700;
}

/*Propiedades de la caja botón agregar termino*/
#cabeceraTerminosBoton-Diccionario #cajaAgregarTermino-Diccionario{

    /*border: 2px solid darkorchid;*/
    /*margin-top: 2px;*/
    text-align: right;
    
}

/*Propiedades del label ¿Desea agregar un termino?*/
#cajaAgregarTermino-Diccionario #labelAgregarTermino-Diccionario{
    font-size: 16px;
    font-style: italic;
    margin-right: 10px;
}

/*Propiedades del botón Agregar Termino*/
#cajaAgregarTermino-Diccionario #agregarTermino-Diccionario{
    
    background-color: #eff2f5;
    padding-top: 2px;
    color: #000;
    border-color: #000;
    /*border-color: transparent;*/
    
}

/*Propiedad hover del botón Agregar Termino*/
#cajaAgregarTermino-Diccionario #agregarTermino-Diccionario:hover{
    
    background-color: #E4AC34;
    border-color: #E4AC34;
    color: white;
    /*border-color: transparent;*/
    
}

/*Propiedad focus del botón Agregar Termino*/
#cajaAgregarTermino-Diccionario #agregarTermino-Diccionario:focus{
    
    box-shadow: none;
    
}

/*Propiedades del icono mas al lado del botón Agregar Termino*/
#cajaAgregarTermino-Diccionario #agregarTermino-Diccionario i{
    margin-right: 10px;
}

/*Propiedades de la caja contenedora de la tabla*/
#cajaTabla-Diccionario{
    /*border: 2px solid burlywood;*/
    height: 80%;
    width: 50%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: scroll;
    overflow-y: scroll;
    box-shadow: 5px 10px 15px #000;/*#666*/ /*box-shadow: x y difuminación color*/
}

/*Propiedades de toda la tabla en general*/
#tabla-Diccionario{
    
    font-family: 'Noto Sans Display', sans-serif;
    background-color: #eff2f5;
    
}

/*Propiedades de la columna ID en la cabecera*/
#idTablaCabecera-Diccionario{
    /*background-color: red;*/
    width: 20%;
    text-align: center;
}

/*Propiedades de la columna Palabra en la cabecera*/
#palabraTablaCabecera-Diccionario{
    /*background-color: aqua;*/
    width: 30%;
    text-align: center;
}

/*Propiedades de la columna Descripción en la cabecera*/
#descripcionTablaCabecera-Diccionario{
    /*background-color: pink;*/
    width: 50%;
    text-align: center;
    
}

/*Propiedades de la columna Modificar/Eliminar en la cabecera*/
#modificarEliminarTablaCabecera-Diccionario{
    text-align: center;
}

/*Propiedades de la fila ID*/
#idTablaFila-Diccionario{
    text-align: center;
}

/*Propiedades de la fila Palabra*/
#palabraTablaFila-Diccionario{
    text-align: center;
}

/*Propiedades de la fila Descripción*/
#descripcionTablaFila-Diccionario{

    text-align: justify;
}

/*Propiedades de la fila Modificar/Eliminar*/
#modificarEliminarTablaFila-Diccionario{
    text-align: center;
}

/*Propiedad hover sobre las filas de la tabla
#tabla-Diccionario tbody tr:hover{
    background-color: #E4AC34;
}*/

/*Propiedades de los botones de modificar y eliminar*/
#modificarEliminarTablaFila-Diccionario button{
    margin-top: 30%;
    border-radius: 0px;
    background: transparent;
    color: #000;
    /*border-color: rgba(62, 138, 62, 0.589);*/
    /*border-color: #ffc107;*/
    border-color: transparent;
    font-family: 'Noto Sans Display', sans-serif;
    /*width: 6rem;*/
    box-shadow: none; /*Quita la sombra verde alrededor del botón*/
}

/*Propiedad hover sobre los botones modificar y eliminar
#modificarEliminarTablaFila-Diccionario button:hover{
    /*border-color: #ffc107;
    border-color: transparent;
    /*background-color: #ffc107;
    background-color: transparent;
    /*color: white;
}*/

/*Propiedades de los iconos en los botones modificar y eliminar*/
#modificarEliminarTablaFila-Diccionario i{
    font-size: 23px;
    
}

/*Propiedad del icono modificar en el botón modificar*/
#botonModificar-Diccionario #iconoModificar-Diccionario{
    color: rgb(83, 83, 83);
}

/*Propiedad del icono eliminar en el botón eliminar*/
#botonEliminar-Diccionario #iconoEliminar-Diccionario{
    color: rgb(192, 3, 3);
}


/*Propiedades de los labels del modal Eliminar termino. Advertencia y ¿Realmente quiere eliminar este termino?.*/
#modalEliminar-Diccionario #modalLabelEliminar-Diccionario label,
#modalEliminar-Diccionario .modal-body label
{

    font-family: 'Noto Sans Display', sans-serif;
}

/*Propiedades del icono advertencia en el modal de Eliminar termino*/
#modalEliminar-Diccionario #modalLabelEliminar-Diccionario i{
    margin-right: 10px;
}

/*Propiedades del label Los cambios no se podrán revertir en modal Eliminar termino.*/
#modalEliminar-Diccionario .modal-body #labelRevertirCambios-Diccionario{
    font-style: italic;
}

/*Propiedades del boton Cancelar en modal Eliminar termino y en el modal Modificar termino*/
#modalEliminar-Diccionario .modal-footer #botonModalCancelar-Diccionario, #modalModificar-Diccionario .modal-footer #botonModalCancelar-Diccionario{
    font-family: 'Noto Sans Display', sans-serif;
    background-color: transparent;
    border-color: #535353;
    color: #000;
}

/*Propiedad hover del boton Cancelar en modal Eliminar termino y en el modal Modificar termino*/
#modalEliminar-Diccionario .modal-footer #botonModalCancelar-Diccionario:hover, #modalModificar-Diccionario .modal-footer #botonModalCancelar-Diccionario:hover{
    
    background-color: #535353;
    color: white;
}

/*Propiedad focus del boton Cancelar en modal Eliminar termino y en el modal Modificar termino*/
#modalEliminar-Diccionario .modal-footer #botonModalCancelar-Diccionario:focus, #modalModificar-Diccionario .modal-footer #botonModalCancelar-Diccionario:focus{
    box-shadow: none;
}

/*Propiedades del boton Eliminar en modal Eliminar termino*/
#modalEliminar-Diccionario .modal-footer #botonModalEliminar-Diccionario{
    font-family: 'Noto Sans Display', sans-serif;
    background-color: transparent;
    border-color: #c00303;
    color: #000;
}

/*Propiedad hover del boton Eliminar en modal Eliminar termino*/
#modalEliminar-Diccionario .modal-footer #botonModalEliminar-Diccionario:hover{
    
    background-color: #c00303;
    color: white;
}

/*Propiedad focus del boton Eliminar en modal Eliminar termino*/
#modalEliminar-Diccionario .modal-footer #botonModalEliminar-Diccionario:focus{
    box-shadow: none;
}

/*Propiedades del botón de la X para cerrar el modal Eliminar termino*/
.modal-header .btn-close:focus{
    
    box-shadow: none;
}

/*Propiedades del icono modificar en el modal de Modificar termino*/
#modalModificar-Diccionario #modalLabelModificar-Diccionario i{
    margin-right: 10px;
}

/*Propiedades de los label Termino y Descripción en el modal de Modificar termino*/
#modalModificar-Diccionario .modal-body label{
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 10px;
}

/*Propiedades del textarea Descripción en el modal de Modificar termino*/
#modalModificar-Diccionario .modal-body textarea{
    resize: none;
    height: 10rem;
}

/*Propiedades focus del input Termino y el textarea Descripción en el modal de Modificar termino*/
#modalModificar-Diccionario .modal-body input:focus, #modalModificar-Diccionario .modal-body textarea:focus{
    box-shadow: none;
    border-color: #ced4da;
}

/*Propiedades de los placeholder del input Termino y el textarea Descripción en el modal de Modificar termino*/
#modalModificar-Diccionario .modal-body input::placeholder, #modalModificar-Diccionario .modal-body textarea::placeholder{
    font-style: italic;
}

/*Propiedades del botón modificar en el modal Modificar termino*/
#modalModificar-Diccionario .modal-footer #botonModalModificar-Diccionario{
    background-color: transparent;
    border-color: #ffc107;
    color: #000;
}

/*Propiedad hover del botón modificar en el modal Modificar termino*/
#modalModificar-Diccionario .modal-footer #botonModalModificar-Diccionario:hover{
    background-color: #ffc107;
    color: white;
}

/*Propiedad focus del botón modificar en el modal Modificar termino*/
#modalModificar-Diccionario .modal-footer #botonModalModificar-Diccionario:focus{
    box-shadow: none;
}

/*Propiedades de icono mas en Agregar Nuevo Termino en el modalAgregarTermino-Diccionario*/

#modalAgregarTermino-Diccionario #modalLabelAgregarTermino-Diccionario i{
    margin-right: 10px;
}

/*Propiedades de las cajas del label Termino y Descripción en Agregar Nuevo Termino en el modalAgregarTermino-Diccionario*/
#modalAgregarTermino-Diccionario .modal-body #labelTerminoAgregarTermino-Diccionario,
#modalAgregarTermino-Diccionario .modal-body #labelDescripcionAgregarTermino-Diccionario
{
    text-align: left;
}

/*Propiedades de los label Termino y Descripción en Agregar Nuevo Termino en el modalAgregarTermino-Diccionario*/
#modalAgregarTermino-Diccionario .modal-body #labelTerminoAgregarTermino-Diccionario label,
#modalAgregarTermino-Diccionario .modal-body #labelDescripcionAgregarTermino-Diccionario label
{
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 10px;
    font-family: 'Noto Sans Display', sans-serif;
}

/*Propiedades del textarea Descripción en Agregar Nuevo Termino en el modalAgregarTermino-Diccionario*/
#modalAgregarTermino-Diccionario .modal-body .input-group textarea{
    resize: none;
    height: 10rem;
}

/*Propiedades del botón cancelar en Agregar Nuevo Termino en el modalAgregarTermino-Diccionario*/
#modalAgregarTermino-Diccionario .modal-footer #botonModalCancelar-Diccionario{
    font-family: 'Noto Sans Display', sans-serif;
    background-color: transparent;
    border-color: #535353;
    color: #000;
}

/*Propiedad hover del boton Cancelar en Agregar Nuevo Termino en el modalAgregarTermino-Diccionario*/
#modalAgregarTermino-Diccionario .modal-footer #botonModalCancelar-Diccionario:hover{
    
    background-color: #535353;
    color: white;
}

/*Propiedad focus del boton Cancelar Agregar Nuevo Termino en el modalAgregarTermino-Diccionario*/
#modalAgregarTermino-Diccionario .modal-footer #botonModalCancelar-Diccionario:focus{
    box-shadow: none;
}

/*Propiedades del botón modificar en el modalAgregarTermino-Diccionario*/
#modalAgregarTermino-Diccionario .modal-footer #botonModalModificar-Diccionario{
    background-color: transparent;
    border-color: #ffc107;
    color: #000;
    font-weight: 100;
}

/*Propiedad hover del botón modificar en el modalAgregarTermino-Diccionario*/
#modalAgregarTermino-Diccionario .modal-footer #botonModalModificar-Diccionario:hover{
    background-color: #ffc107;
    color: white;
}

/*Propiedad focus del botón modificar en el modalAgregarTermino-Diccionario*/
#modalAgregarTermino-Diccionario .modal-footer #botonModalModificar-Diccionario:focus{
    box-shadow: none;
}

/*Propiedad placeholder en el input y textarea en el modalAgregarTermino-Diccionario*/
#modalAgregarTermino-Diccionario .input-group input::placeholder, #modalAgregarTermino-Diccionario .input-group textarea::placeholder{
    font-style: italic;
}

/*Propiedad focus en el input y textarea en el modalAgregarTermino-Diccionario*/
#modalAgregarTermino-Diccionario .input-group input:focus, #modalAgregarTermino-Diccionario .input-group textarea:focus{
    box-shadow: none;
    border-color: #ced4da;
}

/*Propiedades del icono al lado de los input en los modales*/
#modalModificar-Diccionario #btnGroupAddon, #modalAgregarTermino-Diccionario #btnGroupAddon{
    background-color: #ffc107;/*E4AC34*/
    color: white;
}