
#caja{
    border: 1px solid;
    border-color: #323d47be;
    border-radius: 7px;
    margin: 10% 36rem 0 36rem;
    background-color: #eff2f5;
    /*width: 50%;*/
    /*margin-left: auto;
    margin-right: auto;*/
    padding: 2rem;
    /*margin-top: 10%;*/
}

#caja p{
    
    font-weight: bolder;
    text-align: center;
    font-family: 'Yaldevi', sans-serif;
}

#usuario, #contraseña{
    width: 18rem;
    height: 40px;
    /*width: 60%;*/
    margin-left: auto;
    margin-right: auto;
    
}

#usuario{
    margin-bottom: 1rem; /*1rem = 16px*/

}
/*
.btn {
    display: block;
    margin-top: 1rem;
    width: 20%;
    
    justify-content: center;
}
*/

#cajaBoton {
    /*border: 2px solid violet;*/
    text-align: center;
}

/*Iconos al lado del input*/
#caja .input-group #btnGroupAddon{
    width: 40px;
    height: 40px;
    background-color: rgba(62, 138, 62, 0.589);
}

/*Botón enviar*/
#cajaBoton .btn{
    margin-top: 2rem;
    background: transparent;
    color: #000;
    border-color: rgba(62, 138, 62, 0.589);
}

#cajaBoton .btn:hover{
    background-color: rgba(62, 138, 62, 0.589);
    
}