
/*Min widht 783*/
/*#fondo{*/
    /*height: 100vh; /*vh (viewport-height) = Altura de la ventana gráfica.*/
    /*min-height: 100vh;
    width: 100%;*/
    /*border: 0.01px solid #9a0526; /*Despliega borde en toda la pantalla*/
    
    /*border: 5px solid purple;*/
/*}*/

/*header{
    border: 2px solid red;
    padding: 13px;
}*/

/*Sidebar*/
#navbar{
    
    /*border: 2px solid blue;*/

    /*margin-right: 80rem;*/
    /*height: 44.5rem;*/
    /*height: 92vh;*/
    display: inline;
    float: left;
    width: 10rem;
    min-height: 100vh;
    /*background-color: #9a0526;*/
    /*background-color: #9c7079;*/
    /*background-color: #282c34ab;*/
    /*background-color: #d33658;*/
    
    /*background-color: #91142f;*/

    background-color: #8a132d;
    
    z-index: 99px;
    /*background-color: rgb(224, 224, 224);*/
}

/*#sideBar{
    border: 2px solid green;
}*/

/*Caja menu superior*/
#menuSuperior{

    /*border: 4px solid saddlebrown;*/
    height: 3rem;

    /*float: right;
    width: 89.35rem;*/

    /*box-shadow: 5px 10px 15px #000;/*#666*/ /*box-shadow: x y difuminación color*/
    /*background-color: #282c34;*/
    /*background-color: rgb(223, 223, 223);*/
    /*background-color: #cd0c36;*/
    background-color: #91142f;
    box-shadow: 5px 2px 5px;

}

/*Caja general donde van las vistas */
#contenido{
    /*display: block;*/
    /*border: 2px solid green;*/
    /*float: right;*/
    height: 92.5vh;
}

/*Caja texto menu*/
#menu{
    
    text-align: center;
    
    /*border: 2px solid red;*/

    
    /*margin-top: -10px;*/
    
    height: 3rem;
    /*background-color: rgb(224, 224, 224);*/
    background-color: #7e0d26;

    box-shadow: -5px 2px 5px;
    

}

/*Texto menu*/
#menu p{
    margin-top: 5px;
    /*margin-top: 10px;*/
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;/*Separar las letras*/
    font-size: 20px;
    color: white;
}

/*Caja logo*/
#imagen{
    /*border: 3px solid salmon;*/
    border: 5px solid #91142f;
    border-top: 10px solid #91142f;
    margin-top: -10px;
    text-align: center;
    /*background-color: aliceblue;*/
    background-color: #eff2f5;
}

/*Tamaño logo*/
#imagen #logo{

    width: 5rem;
    height: 5rem;
}


/*Contenedor de botones de inicio y perfil
.btn-group{
    float: right;
    /*margin-right: 2rem;
    border-color: #64af54;
    margin: 1px 2px 0px 0px;
    /*box-shadow: none; /*Quita la sombra verde alrededor del botón
}*/

/*Caja contenedora superior de botones inicio y perfil*/
#botonesSuperior{
    /*border: 5px solid darkturquoise;*/
    float: right;
    /*margin-left: 30%;*/
    /*margin-right: 15px;*/
    display: inline;
}

/*Propiedades de los botones inicio y perfil en el menu superior*/
#botonesSuperior #expandiblePerfil, #botonesSuperior #inicio{
    
    width: 6rem;
    height: 37px;
    margin-top: 5px;
    /*background: transparent;*/
    background-color: #eff2f5;
    color: #000;
    /*color: white;*/
    /*border-color: rgba(62, 138, 62, 0.589);*/
    /*border-color: #64af54;*/
    border-color: #91142f;

    /*border-width: 0 2px 0 2px;*/
    /*border-color: transparent #138a70 transparent #138a70;*/
    
    font-family: 'Noto Sans Display', sans-serif;
    box-shadow: none; /*Quita la sombra verde alrededor del botón*/

}

/*Propiedades del botón agregarUsuario en el menu superior*/
#botonesSuperior #agregarUsuario{
    width: 10.3rem;
    height: 37px;
    margin-top: 5px;
    margin-right: -1px;
    /*background: transparent;*/
    background-color: #eff2f5;
    color: #000;
    /*color: white;*/
    /*border-color: rgba(62, 138, 62, 0.589);*/
    /*border-color: #64af54;*/
    border-color: #91142f;

    /*border-width: 0 2px 0 2px;*/
    /*border-color: transparent #138a70 transparent #138a70;*/
    
    font-family: 'Noto Sans Display', sans-serif;
    box-shadow: none; /*Quita la sombra verde alrededor del botón*/
}

/*Propiedad hover para botones inicio, perfil y agregarUsuario*/
#botonesSuperior #inicio:hover, #botonesSuperior #agregarUsuario:hover, #botonesSuperior #expandiblePerfil:hover{
    /*background-color: rgba(62, 138, 62, 0.589);*/
    /*border-color: red;*/
    /*background-color: #64af54;*/

    background-color: #138a70;
    color: white;
}

/*Propiedad focus para botones inicio, perfil y categoria*/
#botonesSuperior button:focus{
    /*background-color: rgba(62, 138, 62, 0.589);*/
    /*border-color: red;*/
    /*background-color: #64af54;*/
    background-color: #138a70;
    color: white;
    box-shadow: none; /*Quita la sombra verde alrededor del botón*/
}

/*Lista desplegada del boton perfil menu superior*/
#botonesSuperior .dropdown-menu{
    background-color: #138a70;
    
}

/*Letras de la lista desplegada del boton perfil menu superior*/
#botonesSuperior .dropdown-menu .dropdown-item{
    color: white;
}

/*Propiedad hover de la lista desplegada del boton perfil menu superior*/
#botonesSuperior .dropdown-menu .dropdown-item:hover{
    background-color: #e1dfe7;
    color: #000;
}

/*Icono flecha hacia abajo en menu superir boton perfil*/
#botonesSuperior #expandiblePerfil i{

    margin-left: 10px;
}

/*Icono casa en menu superir boton inicio e Icono mas en menu superior boton agregar usuario*/
#botonesSuperior #inicio i, #botonesSuperior #agregarUsuario i{
    margin-right: 10px;
}

/*Boton de perfil redondeamiento de las esquinas*/
#botonesSuperior #expandiblePerfil{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/*Caja contenedora en el Sidebar de los botones diagnosticar, reglas, diccionario y diagrama*/
#navbar #opciones{
    margin-top: 20px;
    text-align: left;
    
    
    
}

/*Botones en el Sidebar (diagnosticar, reglas, diccionaro y diagrama)*/
#navbar #opciones button{
    /*float: right;*/

    width: 100%;
    height: 50px;
    border-radius: 0%; /*Para que el botón sea totalmente cuadrado*/
    background: transparent;
    /*color: #000;*/
    color: white;
    /*border-color: rgba(62, 138, 62, 0.589);*/
    /*border-color: #64af54;*/
    border-color: transparent;
    text-align: left;
    

    font-family: 'Noto Sans Display', sans-serif;
    /*font-weight: 700;*/
    box-shadow: none; /*Quita la sombra verde alrededor del botón*/
}

/*Propiedades de los iconos en los botones del sidebar (diagnosticar, reglas, diccionaro y diagrama)*/
#navbar #opciones button i{

    margin-right: 10px;
}

/*Propiedad hover para botones en el Sidebar (diagnosticar, reglas, diccionaro y diagrama)*/
#navbar #opciones button:hover{
    /*float: right;*/
    /*background-color: #64af54;*/

    /*background-color: rgb(80, 80, 80);*/

    /*background-color: #149176;*/

    background-color: #138a70;

    color: white;
    /*border-color: rgba(62, 138, 62, 0.589);*/
    /*border-color: #64af54;*/
    /*border-color: transparent;*/
    font-family: 'Noto Sans Display', sans-serif;
    box-shadow: none; /*Quita la sombra verde alrededor del botón*/
}

/*Caja superior barra busqueda y desplegable categoria*/
#busqueda{
    
    /*border: 5px solid darkorchid;*/
    /*margin-right: 50px;*/
    /*width: 50rem;*/
    display: inline;
    /*padding: 10px;*/
    /*margin-left: 48rem;*/
    /*float: right;*/
    /*margin-right: 30rem;*/
    /*border: 5px solid green;*/
    /*margin-left: 40%;*/
    /*margin-right: 10%;*/
}

/*Propiedades del desplegable select categoria en el menu superior*/
#busqueda select{
    width: 13rem;/*8rem*/
    height: 37px;
    margin-bottom: 5px;
    /*background: transparent;*/
    background-color: #eff2f5;
    color: #000;
    /*color: white;*/
    /*border-color: rgba(62, 138, 62, 0.589);*/
    /*border-color: #64af54;*/

    /*border-color: transparent #138a70 transparent #138a70;*/
    border-color: #91142f;

    font-family: 'Noto Sans Display', sans-serif;
    box-shadow: none; /*Quita la sombra verde alrededor del botón*/

}

/*Propiedad hover del desplegable select categoria en el menu superior*/
#busqueda select:hover{

    /*background-color: #64af54;*/

    background-color: #138a70;
    transition:all .2s ease-out;
    color: white;
    
    

}


/*Propiedad del desplegable select categoria para mostrar en linea*/
#busqueda .form-select{
    display: inline;
}

/*Propiedades del input categoria en el menu superior*/
#busqueda input{

    display: inline;
    width: 14rem;
    /*border: 2px solid red;*/
    height: 37px;
    /*background: transparent;*/
    background-color: #eff2f5;
    margin-top: 5px;
    /*margin: 1px 0 0 0;*/
    color: #000;
    /*color: white;*/
    /*border-color: #64af54 #64af54 #64af54 transparent;*/

    border-color: transparent #91142f transparent #91142f;

    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    
    /*border-color: #64af54;*/
    font-family: 'Noto Sans Display', sans-serif;
    box-shadow: none; /*Quita la sombra verde alrededor del botón*/
}

/*Propiedades del input categoria en el menu superior*/
#busqueda input:focus{
    /*border-color: #64af54 #64af54 #64af54 transparent;*/
    /*border-color: #64af54!important;*/
    /*border-color: #64af54;*/
    font-family: 'Noto Sans Display', sans-serif;
    box-shadow: none!important; /*Quita la sombra verde alrededor del botón*/
    color: #000;
}

/*Propiedad del input para cambiar color del placeholder*/
#busqueda input::placeholder{
    
    color: #000;
    font-style: italic;
}

/*Propiedades del botón enviar para buscar palabra*/
#busqueda #enviarBuscar-Plataforma{
    height: 37px;
    margin-bottom: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: #eff2f5;
    color: #000;
    border-color: #91142f;
}

/*Propiedad hover del botón enviar para buscar palabra*/
#busqueda #enviarBuscar-Plataforma:hover{
    background-color: #138a70;
    color: white;
}

/*Propiedad focus del botón enviar para buscar palabra*/
#busqueda #enviarBuscar-Plataforma:focus{
    box-shadow: none;
}




