
/*Caja contenedora de toda la vista Sintomas*/
#fondo-Reglas{
    /*border: 4px solid blue;*/
    height: 92vh;
    /*overflow-y: scroll;*/
}

/*Propiedades caja contenedora de cabecera Sintomas y Boton*/
#cabeceraSintomasBoton-Reglas{

    /*border: 5px solid aqua;*/
    /*margin-top: 2px;*/
    height: 3rem;
    padding: 4px;
    background-color: #eff2f5;
    box-shadow: 5px 3px 15px #000;/*#666*/ /*box-shadow: x y difuminación color*/
}

/*Propiedades caja contenedora de Sintomas*/
#cajaLabelSintoma-Reglas{
    /*border: 2px solid salmon;*/
    /*margin-top: 15px;*/
    /*margin-top: 0px;*/
    width: 40%;
    float: left;
    
}

/*Propiedades del Label Sintomas*/
#cajaLabelSintoma-Reglas label{
    margin-left: 2%;
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 23px;
    font-weight: 700;
}

/*Propiedades de la caja botón agregar Sintoma*/
#cabeceraSintomasBoton-Reglas #cajaAgregarSintoma-Reglas{

    /*border: 2px solid darkorchid;*/
    /*margin-top: 2px;*/
    text-align: right;
    
}

/*Propiedades del label ¿Desea agregar un nuevo sintoma?*/
#cajaAgregarSintoma-Reglas #labelAgregarSintoma-Reglas{
    font-size: 16px;
    font-style: italic;
    margin-right: 10px;
}

/*Propiedades del botón Agregar Sintoma*/
#cajaAgregarSintoma-Reglas #agregarSintoma-Reglas{
    
    background-color: #eff2f5;
    padding-top: 2px;
    color: #000;
    border-color: #000;
    /*border-color: transparent;*/
    
}

/*Propiedad hover del botón Agregar Sintoma*/
#cajaAgregarSintoma-Reglas #agregarSintoma-Reglas:hover{
    
    background-color: #E4AC34;
    border-color: #E4AC34;
    color: white;
    /*border-color: transparent;*/
    
}

/*Propiedad focus del botón Agregar Sintoma*/
#cajaAgregarSintoma-Reglas #agregarSintoma-Reglas:focus{
    
    box-shadow: none;
    
}

/*Propiedades del icono mas al lado del botón Agregar Sintoma*/
#cajaAgregarSintoma-Reglas #agregarSintoma-Reglas i{
    margin-right: 10px;
}

/*Propiedades de la caja contenedora de la tabla*/
#cajaTabla-Reglas{
    /*border: 2px solid burlywood;*/
    height: 80%;
    width: 50%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: scroll;
    overflow-y: scroll;
    box-shadow: 5px 10px 15px #000;/*#666*/ /*box-shadow: x y difuminación color*/
}

/*Propiedades de toda la tabla en general*/
#tabla-Reglas{
    
    font-family: 'Noto Sans Display', sans-serif;
    background-color: #eff2f5;
    
}

/*Propiedades de la columna ID en la cabecera*/
#idTablaCabecera-Reglas{
    /*background-color: red;*/
    width: 20%;
    text-align: center;
}

/*Propiedades de la columna Sintoma en la cabecera*/
#sintomaTablaCabecera-Reglas{
    /*background-color: aqua;*/
    width: 50%;
    text-align: center;
}

/*Propiedades de la columna Clasificación en la cabecera*/
#clasificacionTablaCabecera-Reglas{
    /*background-color: pink;*/
    width: 30%;
    text-align: center;
    
}

/*Propiedades de la columna Modificar/Eliminar en la cabecera*/
#modificarEliminarTablaCabecera-Reglas{
    text-align: center;
}

/*Propiedades de la fila ID*/
#idTablaFila-Reglas{
    text-align: center;
}

/*Propiedades de la fila Palabra*/
#sintomaTablaFila-Reglas{
    text-align: justify;
}

/*Propiedades de la fila Clasificación*/
#clasificacionTablaFila-Reglas{

    text-align: center;
}

/*Propiedades de la fila Modificar/Eliminar*/
#modificarEliminarTablaFila-Reglas{
    text-align: center;
}

/*Propiedad hover sobre las filas de la tabla
#tabla-Reglas tbody tr:hover{
    background-color: #E4AC34;
}*/

/*Propiedades de los botones de modificar y eliminar*/
#modificarEliminarTablaFila-Reglas button{
    margin-top: 5%;
    border-radius: 0px;
    background: transparent;
    color: #000;
    /*border-color: rgba(62, 138, 62, 0.589);*/
    /*border-color: #ffc107;*/
    border-color: transparent;
    font-family: 'Noto Sans Display', sans-serif;
    /*width: 6rem;*/
    box-shadow: none; /*Quita la sombra verde alrededor del botón*/
}

/*Propiedad hover sobre los botones modificar y eliminar
#modificarEliminarTablaFila-Reglas button:hover{
    /*border-color: #ffc107;
    border-color: transparent;
    /*background-color: #ffc107;
    background-color: transparent;
    /*color: white;
}*/

/*Propiedades de los iconos en los botones modificar y eliminar*/
#modificarEliminarTablaFila-Reglas i{
    font-size: 23px;
    
}

/*Propiedad del icono modificar en el botón modificar*/
#botonModificar-Reglas #iconoModificar-Reglas{
    color: rgb(83, 83, 83);
}

/*Propiedad del icono eliminar en el botón eliminar*/
#botonEliminar-Reglas #iconoEliminar-Reglas{
    color: rgb(192, 3, 3);
}


/*Propiedades de los labels del modal Eliminar Sintoma. Advertencia y ¿Realmente quiere eliminar este Sintoma?.*/
#modalEliminar-Reglas #modalLabelEliminar-Reglas label,
#modalEliminar-Reglas .modal-body label
{

    font-family: 'Noto Sans Display', sans-serif;
}

/*Propiedades del icono advertencia en el modal de Eliminar Sintoma*/
#modalEliminar-Reglas #modalLabelEliminar-Reglas i{
    margin-right: 10px;
}

/*Propiedades del label Los cambios no se podrán revertir en modal Eliminar Sintoma.*/
#modalEliminar-Reglas .modal-body #labelRevertirCambios-Reglas{
    font-style: italic;
}

/*Propiedades del boton Cancelar en modal Eliminar Sintoma y en el modal Modificar Sintoma*/
#modalEliminar-Reglas .modal-footer #botonModalCancelar-Reglas, #modalModificar-Reglas .modal-footer #botonModalCancelar-Reglas{
    font-family: 'Noto Sans Display', sans-serif;
    background-color: transparent;
    border-color: #535353;
    color: #000;
}

/*Propiedad hover del boton Cancelar en modal Eliminar Sintoma y en el modal Modificar Sintoma*/
#modalEliminar-Reglas .modal-footer #botonModalCancelar-Reglas:hover, #modalModificar-Reglas .modal-footer #botonModalCancelar-Reglas:hover{
    
    background-color: #535353;
    color: white;
}

/*Propiedad focus del boton Cancelar en modal Eliminar Sintoma y en el modal Modificar SintomaSintoma*/
#modalEliminar-Reglas .modal-footer #botonModalCancelar-Reglas:focus, #modalModificar-Reglas .modal-footer #botonModalCancelar-Reglas:focus{
    box-shadow: none;
}

/*Propiedades del boton Eliminar en modal Eliminar Sintoma*/
#modalEliminar-Reglas .modal-footer #botonModalEliminar-Reglas{
    font-family: 'Noto Sans Display', sans-serif;
    background-color: transparent;
    border-color: #c00303;
    color: #000;
}

/*Propiedad hover del boton Eliminar en modal Eliminar Sintoma*/
#modalEliminar-Reglas .modal-footer #botonModalEliminar-Reglas:hover{
    
    background-color: #c00303;
    color: white;
}

/*Propiedad focus del boton Eliminar en modal Eliminar Sintoma*/
#modalEliminar-Reglas .modal-footer #botonModalEliminar-Reglas:focus{
    box-shadow: none;
}

/*Propiedades del botón de la X para cerrar el modal Eliminar Sintoma*/
.modal-header .btn-close:focus{
    
    box-shadow: none;
}

/*Propiedades del icono modificar en el modal de Modificar Sintoma*/
#modalModificar-Reglas #modalLabelModificar-Reglas i{
    margin-right: 10px;
}

/*Propiedades de los label Sintoma y Descripción en el modal de Modificar Sintoma*/
#modalModificar-Reglas .modal-body label{
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 10px;
    display: block;
}

/*Propiedades del textarea Descripción en el modal de Modificar Sintoma*/
#modalModificar-Reglas .modal-body textarea{
    resize: none;
    height: 10rem;
}

/*Propiedades focus del textarea Descripción en el modal de Modificar Sintoma*/
#modalModificar-Reglas .modal-body textarea:focus{
    box-shadow: none;
    border-color: #ced4da;
}

/*Propiedades del placeholder del textarea Descripción en el modal de Modificar Sintoma*/
#modalModificar-Reglas .modal-body textarea::placeholder{
    font-style: italic;
}

/*Propiedades del botón modificar en el modal Modificar Sintoma*/
#modalModificar-Reglas .modal-footer #botonModalModificar-Reglas{
    background-color: transparent;
    border-color: #ffc107;
    color: #000;
}

/*Propiedad hover del botón modificar en el modal Modificar Sintoma*/
#modalModificar-Reglas .modal-footer #botonModalModificar-Reglas:hover{
    background-color: #ffc107;
    color: white;
}

/*Propiedad focus del botón modificar en el modal Modificar Sintoma*/
#modalModificar-Reglas .modal-footer #botonModalModificar-Reglas:focus{
    box-shadow: none;
}

/*Propiedades de icono mas en Agregar Nuevo Sintoma en el modalAgregarSintoma-Reglas*/

#modalAgregarSintoma-Reglas #modalLabelAgregarSintoma-Reglas i{
    margin-right: 10px;
}

/*Propiedades de las cajas del label Sintoma y Descripción en Agregar Nuevo Sintoma en el modalAgregarSintoma-Reglas*/
#modalAgregarSintoma-Reglas .modal-body #labelSintomaAgregarSintoma-Reglas,
#modalAgregarSintoma-Reglas .modal-body #labelDescripcionAgregarSintoma-Reglas
{
    text-align: left;
}

/*Propiedades de los label Sintoma y Descripción en Agregar Nuevo Sintoma en el modalAgregarSintoma-Reglas*/
#modalAgregarSintoma-Reglas .modal-body #labelSintomaAgregarSintoma-Reglas label,
#modalAgregarSintoma-Reglas .modal-body #labelDescripcionAgregarSintoma-Reglas label
{
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 10px;
    font-family: 'Noto Sans Display', sans-serif;
}

/*Propiedades del textarea Descripción en Agregar Nuevo Sintoma en el modalAgregarSintoma-Reglas*/
#modalAgregarSintoma-Reglas .modal-body .input-group textarea{
    resize: none;
    height: 5rem;
}

/*Propiedades del botón cancelar en Agregar Nuevo Sintoma en el modalAgregarSintoma-Reglas*/
#modalAgregarSintoma-Reglas .modal-footer #botonModalCancelar-Reglas{
    font-family: 'Noto Sans Display', sans-serif;
    background-color: transparent;
    border-color: #535353;
    color: #000;
}

/*Propiedad hover del boton Cancelar en Agregar Nuevo Sintoma en el modalAgregarSintoma-Reglas*/
#modalAgregarSintoma-Reglas .modal-footer #botonModalCancelar-Reglas:hover{
    
    background-color: #535353;
    color: white;
}

/*Propiedad focus del boton Cancelar Agregar Nuevo Sintoma en el modalAgregarSintoma-Reglas*/
#modalAgregarSintoma-Reglas .modal-footer #botonModalCancelar-Reglas:focus{
    box-shadow: none;
}

/*Propiedades del botón modificar en el modalAgregarSintoma-Reglas*/
#modalAgregarSintoma-Reglas .modal-footer #botonModalModificar-Reglas{
    background-color: transparent;
    border-color: #ffc107;
    color: #000;
    font-weight: 100;
}

/*Propiedad hover del botón modificar en el modalAgregarSintoma-Reglas*/
#modalAgregarSintoma-Reglas .modal-footer #botonModalModificar-Reglas:hover{
    background-color: #ffc107;
    color: white;
}

/*Propiedad focus del botón modificar en el modalAgregarSintoma-Reglas*/
#modalAgregarSintoma-Reglas .modal-footer #botonModalModificar-Reglas:focus{
    box-shadow: none;
}

/*Propiedad placeholder en el textarea en el modalAgregarSintoma-Reglas*/
#modalAgregarSintoma-Reglas .input-group textarea::placeholder{
    font-style: italic;
}

/*Propiedad focus en el textarea en el modalAgregarSintoma-Reglas*/
#modalAgregarSintoma-Reglas .input-group textarea:focus{
    box-shadow: none;
    border-color: #ced4da;
}

/*Propiedades de los labels en los radio buttons en el modal modificar sintoma*/
#modalModificar-Reglas .modal-body #labelSintomaModalModificar-Reglas, #modalModificar-Reglas .modal-body #labelSeñalModalModificar-Reglas{
    font-size: 17px;
    
}

/*Propiedad checked de los radio button en el modal modificar sintoma*/
#modalModificar-Reglas .modal-body #radioButton:checked{
    background-color: #ffc107;
    border-color: #ffc107;
}

/*Propiedad focus de los radio button en el modal modificar sintoma*/
#modalModificar-Reglas .modal-body #radioButton:focus{
    box-shadow: none;
}

/*Propiedad de la caja de los radio button en el modal agregar sintoma*/
#modalAgregarSintoma-Reglas .modal-body #cajaRadioButtonModalAgregar-Reglas{
    /*border-color: 2px solid purple;*/
    text-align: left;
}

/*Propiedades de los labels en los radio buttons en el modal agregar sintoma*/
#modalAgregarSintoma-Reglas .modal-body #cajaRadioButtonModalAgregar-Reglas #labelSintomaModalAgregar-Reglas, 
#modalAgregarSintoma-Reglas .modal-body #cajaRadioButtonModalAgregar-Reglas #labelSeñalModalAgregar-Reglas{
    font-size: 17px;
    
}

/*Propiedad checked de los radio button en el modal agregar sintoma*/
#modalAgregarSintoma-Reglas .modal-body #cajaRadioButtonModalAgregar-Reglas #radioButton:checked{
    background-color: #ffc107;
    border-color: #ffc107;
}

/*Propiedad focus de los radio button en el modal agregar sintoma*/
#modalAgregarSintoma-Reglas .modal-body #cajaRadioButtonModalAgregar-Reglas #radioButton:focus{
    box-shadow: none;
}

/*Propiedades del icono al lado de los input en los modales*/
#modalModificar-Reglas #btnGroupAddon, #modalAgregarSintoma-Reglas #btnGroupAddon{
    background-color: #ffc107;/*E4AC34*/
    color: white;
}

